@font-face {
    font-family: 'priori-sans-bold';
  src: url('/site/fonts/ufonts.com_priori_sans_bold-webfont.eot');
    src: url('/site/fonts/ufonts.com_priori_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('/site/fonts/ufonts.com_priori_sans_bold-webfont.woff') format('woff'),
        url('/site/fonts/ufonts.com_priori_sans_bold-webfont.ttf') format('truetype'),
        url('/site/fonts/ufonts.com_priori_sans_bold-webfont.svg#priori_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mendoza-book';
    src: url('/site/fonts/mendozaroman-book-webfont.eot');
    src: url('/site/fonts/mendozaroman-book-webfont.eot?#iefix') format('embedded-opentype'),
        url('/site/fonts/mendozaroman-book-webfont.woff') format('woff'),
        url('/site/fonts/mendozaroman-book-webfont.ttf') format('truetype'),
        url('/site/fonts/mendozaroman-book-webfont.svg#itc_mendoza_roman_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

ul { 
    list-style: outside none none !important;
    font: 14px/20px "Aptifer Sans LT W01",sans-serif;
}

#light-box {
    max-width: 857px; 
    width: 100%; 
}
#light-box .faculty-record {
    overflow: auto;
    position: relative;
}

#light-box .faculty-record h1 {
    font: 42px/40px "priori-sans-bold",sans-serif;
    color: #273D5E;
    margin: 35px 0px 10px;
}

#light-box .faculty-record h1 span{
    font: 22px/24px "priori-sans-bold",sans-serif !important;
    color: #273D5E;
    margin: 0px 0px 10px;
}

#light-box .faculty-record .address {
    padding: 7px 0px 4px 0px;
    margin: 0px 0px 16px 0px;
}
#light-box .faculty-record .img {
    margin: 0px;
    margin-right: 1.2em;
    width: 200px;
    border: none;
    float: left;
}
#light-box .faculty-record p {
    font: 14px/17px 'aptifer-sans', sans-serif;
    margin: 0px 0px 10px;
    color: #273D5E;
}


#light-box .faculty-record .contact-info {
    position: relative;
    margin-left: 220px; 
}

#light-box .faculty-record .contact-info span {
    display: block;
    overflow: hidden;
    padding: 0px 0px 6px 15px;
    font: 15px/17px 'aptifer-sans', sans-serif;
    color: rgb( 39, 61, 94 );
}

#light-box .faculty-record .contact-info span p {
    font: 15px/17px 'aptifer-sans', sans-serif;
    color: rgb( 39, 61, 94 );
    margin: 1px 0px 0px 13px;
    float: left;
}

#light-box .faculty-record .contact-info span a {
    font: 15px/17px 'aptifer-sans', sans-serif;
    color: rgb( 39, 61, 94 );
    text-decoration: none;
}

#light-box .faculty-record .contact-info span img {
    float: left;
}

#light-box .info {
    border-top: 1px solid #cccccc;
    margin: 20px 0px 20px 0px;
    width: 100%;
    clear: left;
    padding: 0px 20px 20px 0px; 

}

#light-box .info h2 {
    font: 22px/28px "priori-sans-bold",sans-serif;
    text-transform: uppercase;
    line-height: 1.333;
    color: rgb( 39, 62, 93 );
}

#light-box .info p {
    font: 14px/17px 'aptifer-sans', sans-serif;
}

#light-box .info .education {
    width: 58%; 
    float: left;
}

#light-box .info .edu-list {
    width: 32%;
    float: left; 
    padding: 5px;
    background: none repeat scroll 0% 0% #F0F0F0;
    margin: 40px 20px 20px 40px;
    border: 1px solid #ddd; 
}

#light-box .info .edu-list li {
    background: none!important; 
    padding: 0px 0px 0px 5px !important;
    margin-bottom: 10px; 
    border-bottom: 1px solid #ddd; 
}

#light-box .info .edu-list ul {
    padding-left: 20px !important; 
    padding-right: 20px !important; 
}

#light-box p {
    margin-left: 20px;
    font: 15px/22px "mendoza-book",serif;
    color: #424242;
}

#light-box li {
    background: transparent url("/site/images/bull-01.png") no-repeat scroll 0px 8px;
    padding: 0px 0px 8px 28px;
}

#light-box .info li {
    background: transparent url("/site/images/bull-01.png") no-repeat scroll 0px 8px;
    padding: 0px 0px 8px 28px;

}

#light-box .teach li {
    width: 43%; 
    float: left;
    padding: 10px 10px 10px 20px;
    margin: 5px; 
    background-image: none!important;
    background-color: #eee;
    border-radius: 5px; 
    border: 1px solid #ddd;
} 

#light-box .teach {
    padding-bottom: 30px; 
}

#light-box .info h3 {
   font: 24px/28px "priori-sans-bold",sans-serif;
    margin: 0px 0px 8px;
    color: #6697B8;
}

@media only screen and (max-width: 999px) {


}


@media only screen and (max-width: 500px) {
    #light-box .faculty-record .img img { 
        width: 100%; 
        display: block;
        position: relative;
    }
    #light-box .faculty-record .img {
        display: block; 
        margin-right: auto; 
        margin-left: auto; 
        width: 50%; 
        margin-bottom: 15px; 
    }
    #light-box .faculty-record .contact-info {
    position: relative;
    clear: left;
    margin-left: 0px; 
    }

    #light-box .info {
    width: 90%;
    margin: 10px; 
    }

    #light-box li {
    padding: 0px 0px 8px 18px;
    }
    #light-box ul {
    padding: 0px 0px 0px 8px;
    }

    #light-box .info .education {
    width: 100%; 
    }

    #light-box .teach li {
    width: 90%; 
    } 

    }

@media only screen and (max-width: 350px) {
     #light-box .faculty-record .img {
        position: relative;
        display: block;
        width: 80%; 
        margin-left: auto !important;
        margin-right: auto !important;  
    }

    }

/*#light-box .faculty-record .add-link {
    margin: 0;
    padding: 10px 0 0;
}

#light-box .faculty-record .intro {
    font: 15px/17px 'aptifer-sans', sans-serif;
    margin: 0px 0px 10px;
    color: #273D5E;
}

#light-box .faculty-record address {
    font-style: normal;
    border-style: solid;
    border-color: #CCC;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 1px 0px;
    padding: 7px 0px 4px;
    margin: 0px 0px 16px;
}

#light-box .faculty-record address span {
    display: block;
    overflow: hidden;
    padding: 0px 0px 6px 31px;
}

#light-box .faculty-record address span img {
    float: left;
    margin: 4px 0px 0px -29px;
}

#light-box .faculty-record address {
    font-style: normal;
}

