@font-face {
  font-family: 'priori-sans-reg';
  src: url('fonts/priori-sans-regular-1361508596-webfont.eot');
  src: url('fonts/priori-sans-regular-1361508596-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/priori-sans-regular-1361508596-webfont.woff2') format('woff2'),
       url('fonts/priori-sans-regular-1361508596-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'priori-sans-bold';
    src: url('fonts/ufonts.com_priori_sans_bold-webfont.eot');
    src: url('fonts/ufonts.com_priori_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/ufonts.com_priori_sans_bold-webfont.woff') format('woff'),
        url('fonts/ufonts.com_priori_sans_bold-webfont.ttf') format('truetype'),
        url('fonts/ufonts.com_priori_sans_bold-webfont.svg#priori_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mendoza-medium';
    src: url('fonts/mendozaroman-medium-webfont.eot');
    src: url('fonts/mendozaroman-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/mendozaroman-medium-webfont.woff') format('woff'),
        url('fonts/mendozaroman-medium-webfont.ttf') format('truetype'),
        url('fonts/mendozaroman-medium-webfont.svg#itc_mendoza_romanmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mendoza-book';
    src: url('fonts/mendozaroman-book-webfont.eot');
    src: url('fonts/mendozaroman-book-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/mendozaroman-book-webfont.woff') format('woff'),
        url('fonts/mendozaroman-book-webfont.ttf') format('truetype'),
        url('fonts/mendozaroman-book-webfont.svg#itc_mendoza_roman_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mendoza-book-italic';
    src: url('fonts/mendozaroman-bookitalic-webfont.eot');
    src: url('fonts/mendozaroman-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/mendozaroman-bookitalic-webfont.woff') format('woff'),
        url('fonts/mendozaroman-bookitalic-webfont.ttf') format('truetype'),
        url('fonts/mendozaroman-bookitalic-webfont.svg#itc_mendoza_roman_bookitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'priori-sans-bold';
        src: url('fonts/ufonts.com_ori_sans_bold-webfont.svg#ori_sansbold') format('svg');
    }
    @font-face {
        font-family: 'mendoza-medium';
        src: url('fonts/mendozaroman-medium-webfont.svg#itc_mendoza_romanmedium') format('svg');
    }
    @font-face {
        font-family: 'mendoza-book-italic';
        src: url('fonts/mendozaroman-bookitalic-webfont.svg#itc_mendoza_roman_bookitalic') format('svg');
    }
    @font-face {
        font-family: 'mendoza-book';
        src: url('fonts/mendozaroman-book-webfont.svg#itc_mendoza_roman_bookregular') format('svg');
    }
    @font-face {
        font-family: 'aptifer-sans-bold';
        src: url('fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    }
}

body, html {
    margin: 0;
    padding: 0;
}



#continue-exploring .explore-button {
    background-color: #7CADCF;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 30px;
    margin: 5px;
    font-family: 'Aptifer Sans LT W01', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

#continue-exploring .explore-button:hover {
    text-decoration: none;
    background: #273D5E;
    transition: all 0.3s ease 0s;
}
#continue-exploring .wrapper.content {
    max-width: 1050px;
    width: 95%;
    margin: 30px auto;
}

#continue-exploring h3 {
    color: #273d5e;
    font-family: 'priori-sans-reg', sans-serif;
    font-size: 38px;
    margin: 0 0 .5em 0;
    position: relative;
}

aside {
    display: none; 
}

.text-justify {
    text-align: left;
}

.main-holder {
    background: transparent;
}

.lazyload-img {
    opacity:0;
    transition: all 500ms;
    max-width: 100%;
}

.hero-img{
    transform: scale(2);
}

.loaded-img {
    opacity:1;
}

.loaded-img.hero-img{
    transform: scale(1);
}

.middle-line-text::before,
.middle-line-text::after{
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background: #639dc4;
    top: 50%;
}

.middle-line-text{
    color: #75adcf;
    font-family: 'priori-sans-reg', sans-serif;
    font-size: 38px;
    margin: 0 0 .5em 0;
    position: relative;
}

.middle-line-text::before{
    width: calc(50% - 4em);
    background: #639dc4;
    left: 0;
}

.middle-line-text::after{
    width: calc(50% - 4em);
    left: calc(50% + 4em);
}

.parallax-slider img{
    width: 100%;
    height: 100%;
}

.about-bg {
    height: 785px;
    position: relative;
    overflow: hidden;
    background: transparent;
    color: #fff;
}

.about-bg .loading-gif{
    content: url('./img/about/ajax-loader.gif');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-bg .about-wrapper {
    width: 820px;
    max-width: 40%;
    padding: 245px 10% 0;
}

.about-bg .about-wrapper h2 {
    font-family: 'priori-sans-bold', sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 90px;
    text-transform: uppercase;
    margin: 0;
}

.about-bg .about-wrapper p {
    font-family: 'priori-sans-bold', sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin: .5em 0 1em 0;
}

.about-bg .about-wrapper hr {
    border: none;
    height: 8px;
    background: #9ec3de;
    width: 80%;
    margin: 1em 0;
}

.about-bg .start-btn {
    display: block;
    text-align: center;
    text-transform: uppercase;
    background: #fff;
    width: 86px;
    height: 86px;
    border-radius: 100%;
    margin: 100px auto;
    padding: 18px;
    box-sizing: border-box;
    cursor: pointer;
}

.about-bg .start-btn a {
    color: #273d5e;
    font-family: 'Aptifer Sans LT W01', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

/*===== TABS =====*/

.about-tabs {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.about-tabs ul {
    margin: 0;
    padding: 0;
}

.about-tabs ul li {
    background: -moz-linear-gradient(top, rgba(36,36,36,0) 0%, rgba(36,36,36,0.75) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(36,36,36,0) 0%,rgba(36,36,36,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(36,36,36,0) 0%,rgba(36,36,36,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00242424', endColorstr='#bf242424',GradientType=0 ); /* IE6-9 */
    display: block;
    width: calc(25% - 25px);
    float: left;
    text-align: center;
    height: 82px;
    line-height: 82px;
    box-sizing: border-box;
    cursor: pointer;
}

.about-tabs ul li.active {
    cursor: default;
}

.about-tabs ul li.active a {
    color: #75adcf;
    border-bottom: 8px solid #75adcf;
    padding-bottom: 5px;
}

.about-tabs ul li a {
    color: #ffffff;
    font-family: 'Aptifer Sans LT W01', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.about-tabs.about-sticky {
    position: fixed;
    top: 0;
    height: 48px;
    width: 100%;
    z-index: 999;
    background-color: #273d5e;
    transition: background-color 500ms;
}

.about-tabs .explore-button {
    width: 100px;
    background: #fff;
    line-height: 18px;
    padding-top: 12px;
}

.about-tabs .explore-button a {
    color: #273d5e;
}

.about-tabs .explore-button a img {
    margin-top: 10px;
}

/* Sticky */

.about-tabs.about-sticky {
    position: fixed;
    top: 0;
    height: 48px;
    width: 100%;
    z-index: 999;
    background-color: #273d5e;
    transition: background-color 500ms;
}

.about-tabs.about-sticky ul::after {
    content: "";
    display: block;
    clear: both;
}

.about-tabs.about-sticky ul {
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.about-tabs.about-sticky ul li {
    display: block;
    width: 100%;
    text-align: center;
    height: 48px;
    line-height: 48px;
    box-sizing: border-box;
    cursor: pointer;
    background: transparent;
}

.about-tabs.about-sticky ul li.active {
    cursor: default;
}

.about-tabs.about-sticky ul li.active a {
    color: #75adcf;
    border-bottom: 8px solid #75adcf;
    padding-bottom: 6px;
}

.about-tabs.about-sticky ul li a {
    color: #ffffff;
    font-family: 'Aptifer Sans LT W01', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.about-tabs .overview-of-about-item,
.about-tabs.about-sticky .explore-button {
    display: none;
}

.about-tabs.about-sticky .overview-of-about-item {
    display: block;
}

/*===== CONTENT =====*/

.center {
    text-align: center;
}

.about {
    padding-top: 50px;
    padding-bottom: 75px;
}

#know-the-area{
    position: relative;
    background: url(img/about/know-the-area-bg.png) center top repeat scroll;
    border-top: 2px solid rgba(0,0,0,0.04);
    border-bottom: 2px solid rgba(0,0,0,0.04);
    padding: 137px 0;
}

#know-the-area .know-the-area-btns{
    margin-top: 54px;
}

.about #slider-wrapper{
    width: 1160px;
}

.about .wrapper.content,
.about-tabs .wrapper.content {
    width: 1050px;
    margin: 0 auto;
}

.about .wrapper.content h1,
.about .wrapper.content h2 {
    color: #273d5e;
    font-family: 'priori-sans-bold', sans-serif;
    font-size: 68px;
    font-weight: 700;
    margin: 0 0 .25em;
}

.about .wrapper.content h3 {
    color: #638aa7;
    font-family: 'priori-sans-reg', sans-serif;
    font-size: 38px;
    font-weight: 400;
    margin: 0 0 .5em 0;
    position: relative;
}

.about .wrapper.content p {
    color: #273d5e;
    font-family: 'AptiferSansLTW01-Light', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.about .wrapper.content .flexbox {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0;
}

.about .wrapper.content .col-50 {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
}

.about .wrapper.content .col-33 {
    width: 33.333%;
    padding: 15px 1.5%;
    box-sizing: border-box;
}

.about .about-video{
    position: relative;
    overflow: hidden;
}

.about .about-video .about-play{
    display: block;
    background-color: rgba(117, 173, 207, 0.75);
    padding: 25px 45px 25px 50px;
    border-radius: 20px;
    position: absolute;
    top: calc(50% - 46px);
    left: calc(50% - 67px);
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    transition: all .4s ease-out;
}

.about .about-video .about-play.active{
    opacity: 1;
}

.primary-button {
    background-color: #7CADCF;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 30px;
    margin: 5px;
    font-family: 'Aptifer Sans LT W01', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.primary-button:hover {
    text-decoration: none;
    background: #273D5E;
    transition: all 0.3s ease 0s;
}

.about p {
    margin: 0 0 1.5em 0;
}

#overview-of-about {
    padding-top: 50px;
    padding-bottom: 50px;
}

#overview-of-about .wrapper.content#about-profile {
    position: relative;
}

#overview-of-about .wrapper.content#about-profile h3::before,
#overview-of-about .wrapper.content#about-profile h3::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background: #639dc4;
    top: 50%;
}

#overview-of-about .wrapper.content#about-profile h3::before {
    width: calc(50% - 4em);
    background: #639dc4;
    left: 0;
}

#overview-of-about .wrapper.content#about-profile h3::after {
    width: calc(50% - 4em);
    left: calc(50% + 4em);
}

#overview-of-about .wrapper.content#about-profile .flexbox .col-33 {
    border-right: 1px solid #75adcf;
}

#overview-of-about .wrapper.content#about-profile .flexbox .col-33:last-child {
    border-right: none;
}

.about .wrapper.content .col-33.about-achievements {
    width: 33%;
    padding: 15px 5%;
}

.about .wrapper.content .col-33.about-achievements img {
    max-height: 100px; 
}
#overview-of-about .wrapper.content#about-profile .about-achievements p {
    font-size: 24px;
    margin-top: .5em;
    margin-bottom: 3em;
}

#overview-of-about .wrapper.content#about-profile .about-achievements p:last-child {
    margin-bottom: 1em;
}

#overview-of-about .wrapper.content#about-profile .about-achievements p span {
    color: #75adcf;
}

#our-campus .text-box-container{
    position: relative;
}

#our-campus .slider-container{
    position: relative;
}

#our-campus .slider-controllers{
    font-size: 80px;
    color: #ffffff;
}

#our-campus .slider-controllers .prev,
#our-campus .slider-controllers .next{
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

#our-campus .slider-controllers .prev{
    left: 2%;
}

#our-campus .slider-controllers .next{
    right: 2%;
}

#our-campus .slider-controllers .slick-arrow{
    transition: all .4s ease;
}

#our-campus .slider-controllers .slick-arrow:hover{
    text-shadow: 3px 3px 10px #272634;
}

.our-campus-slider .slider{
    position: relative;
}

#our-campus .slider .slide-img img{
    display: block;
    width: 100vw;
    max-height: 750px;
    object-fit: cover;
    object-position: 50% 50%;
}

#our-campus .campus-text-box{
    width: 780px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    color: #ffffff;
}

#our-campus .campus-text-box h2 {
    font-family: 'priori-sans-bold', sans-serif;
    text-shadow: -1px 2px #000000;
    font-size: 68px;
    font-weight: 700;
    margin: 0 0 .25em;
}

#our-campus .campus-text-box p {
    box-sizing: border-box;
    padding: 25px 50px 25px 50px;
    background-color: rgba(39, 61, 94, .74);
    font-family: 'AptiferSansLTW01-Light', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0 0 .25em;
}

#our-campus .gtk-slider {
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
}

#our-campus .gtk-slider .gtk-slide .gtk-slide-title-container {
    min-height: 44px;
    position: relative;
}

#our-campus .gtk-slider .gtk-slide a{
    color: #fff !important;
    text-decoration:none;
    display: block;
    text-align: center;
    padding: 5px;
}

#our-campus .gtk-slider .gtk-slide .gtk-slide-info-text-container {
    position: relative;
    height: 100%;
}

#our-campus .gtk-slider::after {
    content: "";
    display: block;
    clear: both;
}

#our-campus .gtk-slider .gtk-slider-nav-left,
#our-campus .gtk-slider .gtk-slider-nav-right {
    position: absolute;
    top: calc(50% - 35px);
    color: #cdcdcd;
    font-size: 60px;
    cursor: pointer;
}

#our-campus .gtk-slider .gtk-slider-nav-left {
    left: 10px;
}

#our-campus .gtk-slider .gtk-slider-nav-right {
    right: 10px;
}

#our-campus .gtk-slider .gtk-slide {
    width: 24%;
    margin: 0 .5%;
    padding: 5px;
    box-sizing: border-box;
    float: left;
    background-color: #426e8a;
    color: #ffffff;
    text-align: center;
    position: relative;
}

#our-campus .gtk-slider .gtk-slide img {
    display: block;
    width: 100%;
    height: 162px;
    -o-object-fit: cover;
    object-fit: cover;
}

#our-campus .gtk-slider .gtk-slide span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
    /* line-height: 1.5em; */
    font-family: 'priori-sans-bold', sans-serif;
}

#our-campus .gtk-slider .gtk-slide .gtk-slide-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 167px;
    background-color: rgba(117, 173, 207, 0.92);
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 300ms ease;
}

#our-campus .gtk-slider .gtk-slide .gtk-slide-info p {
    color: #252525;
    font-family: 'Aptifer Sans LT W01', sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 10px;
    margin: 0;
}

#our-campus .gtk-slider .gtk-slide:hover .gtk-slide-info {
    opacity: 1;
    transition: opacity 300ms ease;
}

#faith-community h3.circle-blue-text{
    color: #273d5e;
    text-transform: uppercase;
    font-family: 'priori-sans-bold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
}

#faith-community .our-campus-image,
#see-anew .see-anew-image{
    width: 214px;
    height: auto;
}

#faith-community .circle-container,
#see-anew .circle-container{
    position: relative;
    display: inline-block;
    width: 214px;
    height: 214px;
    text-align: center;
    cursor: pointer;
}

#faith-community .circle-overlay,
#see-anew .circle-overlay{
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

#faith-community .circle-overlay{
    background-color: #628BA9;
}

#see-anew .circle-overlay{
    background-color: #75ADCF;
}

#faith-community .circle-container:hover .circle-overlay,
#see-anew .circle-container:hover .circle-overlay
{
    opacity: .5;
}

#see-anew {
    background: url('img/about/see-anew-bg.png') center center no-repeat fixed;
    background-color: rgb(39,61,94);
    background-size:cover;
}

#see-anew .see-anew-description{
    color: #ffffff;
    /* text-shadow: 1px 1px 1px rgba(0,0,0,.5); */
}

#see-anew .see-anew-description a {
    color: #ffffff; 
    text-decoration: underline; 

}

#see-anew h2{
    margin-top: 80px;
}

#see-anew .circle-flip h3{
    font-family: 'priori-sans-bold', sans-serif;
}

#see-anew #anew-circle-flip .col-33,
#faith-community #fc-circle-flip .col-33 {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg);
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    transition-delay: 0s;
}

#see-anew #anew-circle-flip .flexbox.inView .col-33,
#faith-community #fc-circle-flip .flexbox.inView .col-33 {
    -webkit-transform: rotate3d(0, 1, 0, 0); 
    transform: rotate3d(0, 1, 0, 0);
    opacity: 1;
}

#see-anew #anew-circle-flip .flexbox:first-child .col-33:first-child,
#faith-community #fc-circle-flip .flexbox:first-child .col-33:first-child {
    -webkit-transition-delay: .45s;
    transition-delay: .45s; 
}

#see-anew #anew-circle-flip .flexbox:first-child .col-33:nth-child(2),
#faith-community #fc-circle-flip .flexbox:first-child .col-33:nth-child(2) {
    -webkit-transition-delay: .55s;
    transition-delay: .55s;
}

#see-anew #anew-circle-flip .flexbox:first-child .col-33:nth-child(3),
#faith-community #fc-circle-flip .flexbox:first-child .col-33:nth-child(3) {
    -webkit-transition-delay: .65s;
    transition-delay: .65s;
}

#see-anew #anew-circle-flip .flexbox:nth-child(2) .col-33:first-child {
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
}

#see-anew #anew-circle-flip .flexbox:nth-child(2) .col-33:nth-child(2) {
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}

#see-anew #anew-circle-flip .flexbox:nth-child(2) .col-33:nth-child(3) {
    -webkit-transition-delay: .8s;
    transition-delay: .8s;
}

#see-anew .wrapper.content h2,
#see-anew .wrapper.content h3 {
    color: #fff;
}

#see-anew .wrapper.content h3 {
    text-transform: uppercase;
    font-size: 24px;
    margin: 1em 0;
}

#see-anew .asa-overlay {
    background-color: rgba(0,0,0,0.6);
    padding-top: 100px;
    padding-bottom: 75px;
    margin-top: -50px;
    margin-bottom: -75px;
}

#see-anew .asa-overlay,
#see-anew .asa-overlay .wrapper.content p {
    color: #fff;
}

#see-anew .asa-overlay .wrapper.content img {
    border-radius: 0;
    border: none;
}

#see-anew .asa-overlay .wrapper.content {
    position: relative;
}

#see-anew .asa-overlay .close-button {
    position: absolute;
    top: -40px;
    right: 0;
}

#see-anew .asa-overlay .close-button a {
    color: #fff;
    font-size: 36px;
    cursor: pointer;
}

#see-anew .asa-overlay .close-button a:hover {
    color: #75adcf;
}

#see-anew .asa-overlay .wrapper.content h3 {
    font-family: 'priori-sans-reg', sans-serif;
    font-size: 38px;
    text-transform: none;
    margin: 0 0 .5em 0;
    position: relative;
}

#see-anew .asa-overlay h3::before,
#see-anew .asa-overlay h3::after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    background: rgba(255,255,255,0.4);
    top: 50%;
    width: calc(50% - 4em);
}

#see-anew .asa-overlay h3::before {
left: 0;
}

#see-anew .asa-overlay h3::after {
right: 0;
}

#see-anew #on-campus-overlay.asa-overlay .flexbox a {
    color: #75adcf;
}

#see-anew .asa-overlay .asa-tabs {
    list-style: none;
    margin: 40px 0;
    padding: 0;
}

#see-anew .asa-overlay .asa-tabs li {
    display: inline-block;
    font-family: 'priori-sans-bold', sans-serif;
    font-size: 24px;
    line-height: 2em;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 15px;
}

#see-anew .asa-overlay .asa-tabs li a {
    cursor: pointer;
}

#see-anew .asa-overlay .slide-list {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}

#see-anew .asa-overlay .slide-list li {
    font-family: 'priori-sans-bold', sans-serif;
    font-size: 24px;
    line-height: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
}

#see-anew .asa-overlay .asa-tabs li a,
#see-anew .asa-overlay .slide-list li a {
    color: #fff;
}

#see-anew .asa-overlay .asa-tabs li a:hover,
#see-anew .asa-overlay .slide-list li a:hover {
    color: #fff;
    text-decoration: none;
}

#see-anew .asa-overlay .asa-tabs li a.active,
#see-anew .asa-overlay .slide-list li a.active {
    color: #75adcf;
    border-bottom: 8px solid #75adcf;
    padding-bottom: 6px;
}

#see-anew .asa-overlay .sl-wtd-slider {
    width: 100%;
    height: 396px;
    position: relative;
    margin-bottom: 25px;
}

#see-anew .asa-overlay .sl-wtd-slider .sl-wtd-slide img {
    width: 100%;
    height: 396px;
    object-fit: cover;
}

#see-anew .asa-overlay .sl-wtd-slider .sl-wtd-slide-nav {
    display: block;
    width: 48px;
    height: 48px;
    font-size: 36px;
    line-height: 48px;
    position: absolute;
    top: calc(50% - 18px);
    cursor: pointer;
}

#see-anew .asa-overlay .sl-wtd-slider .sl-wtd-slide-nav.sl-wtd-nav-left {
    left: 0;
}

#see-anew .asa-overlay .sl-wtd-slider .sl-wtd-slide-nav.sl-wtd-nav-right {
    right: 0;
}

#see-anew .asa-overlay .sl-wtd-slider .sl-wtd-slide-nav-buttons {
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    bottom: 10px;
}

#see-anew .asa-overlay .sl-wtd-slider .sl-wtd-slide-nav-buttons .sl-wtd-slide-nav-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 100%;
    margin: 10px;
}

#see-anew .asa-overlay .sl-wtd-slider .sl-wtd-slide-nav-buttons .sl-wtd-slide-nav-button.active {
    background-color: #75adcf;
}

#see-anew .asa-overlay .sl-wtd-slider-container p {
    text-align: left;
}

#see-anew .see-anew-btns{
    margin-bottom: 60px;
}

#see-anew .asa-overlay .asa-content-wrapper{
    max-width: 60%;
    margin: 50px auto auto;
}

#see-anew .asa-overlay .col-30{
    box-sizing: border-box;
    width: 30%;
    padding: 15px 1.5%;
}

#see-anew .asa-overlay .col-70{
    box-sizing: border-box;
    width: 70%;
    padding: 15px 0;
}

#see-anew .asa-overlay .content-title {
    font-family: "priori-sans-reg", sans-serif;
    font-size: 35px;
    max-width: 350px;
    font-weight: 400;
    margin: 0;
}

#see-anew .asa-overlay .content-text{
    font-family: 'AptiferSansLTW01-Light', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 28px;
    max-width: 350px;
}

#see-anew .asa-overlay h2 {
    margin-top: 20px;
    margin-bottom: 25px;line-height: 45px;
}

#our-history{
    height: 100vh;
    position: relative;
}

#our-history.about{
    padding: 0;
}

#our-history picture img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#our-history .container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(37,37,37,.74);
    width: 430px;
    padding: 45px;
}

#our-history .slider-wrapper{
    position: relative;
}

#our-history .our-history-slider{
    width: 75%;
}

#our-history .our-history-slider-controllers{
    display: inline-block;
    color: #cdcdcd;
    font-size: 42px;
    position: relative;
}

#our-history .our-history-slider-controllers{
    display: inline-block;
    color: #cdcdcd;
    font-size: 42px;
    position: relative;
    vertical-align: middle;
}

#our-history .our-history-slider-controllers .next{
    margin-left: 15px;
}

#our-history .our-history-slider-controllers .next:hover,
#our-history .our-history-slider-controllers .prev:hover{
    color: #ffffff;
    cursor: pointer;
}

.parallax-window{
    height: 785px;
    position: relative;
    overflow: hidden;
    background: transparent;
}

#our-history .slider-wrapper .primary-button{
    margin-left: 20px;
}

#our-history .slider h2{
    color: #ffffff;
    font-size: 38px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    line-height: 34px;
}

#our-history .slider p{
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;
}

#our-history .slider a {
    color: #ffffff; 
    text-decoration: underline; 
}

#our-history .history-timeline-wrapper{
    position: absolute;
    top: -10px;
    right: -35px;
}

#our-history .timeline{
    box-sizing: border-box;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

#our-history .timeline li{
    box-sizing: border-box;
    position: relative;
    padding: 7px 0 20px 50px;
    transition: all 100ms;
    min-height: 42px;
    padding-left: 0;
    padding-right: 40px;
    color: #ffffff;
    font-size: 14px;
}
#our-history .timeline li span{
    display:none;
    transition: all .4s ease;
}

#our-history .timeline li.active span{
    display: initial;
    font-family: 'AptiferSansLTW01-Light', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 0px;
}

#our-history .timeline li:before,
#our-history .timeline li:after
{
    transition: all 100ms;
}

#our-history .timeline li:before{
    box-sizing: border-box;
    display: block;
    content: '';
    position: absolute;
    top: 7px;
    right: 22px;
    z-index: 2;
    background-color: rgb(68, 67, 67);
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 2px solid rgb(167,169,172);
}

#our-history .timeline li.active:before{
    right: 19px;
    background-color: #ffffff;
    width: 16px;
    height: 16px;
    border: 2px solid #ffffff;
}

#our-history .timeline li:after{
    box-sizing: border-box;
    content: '';
    display: block;
    width: 1px;
    background-color: rgb(167,169,172);
    position: absolute;
    top: 0;
    right: 27px;
    height: 100%;
    z-index: 1; 
}

#our-history .timeline li:first-child::after{
    top: 15px;
}

#our-history .timeline li:last-child::after{
    height: 15px;
}

.about .wrapper.content hr {
    border: none;
    height: 8px;
    background: #426E8A;
    width: 85px;
    margin: 1em auto;
}

.our-campus-image,
.see-anew-image {
  cursor: pointer;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/*===== LITY =====*/

.lity-iframe .lity-container,
.lity-youtube .lity-container,
.lity-vimeo .lity-container,
.lity-googlemaps .lity-container {
    max-width: 960px !important;
}

/*===== MOBILE =====*/

@media (max-width:1200px) {
    .about #slider-wrapper {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
}

@media (max-width:1024px) {

    .about .wrapper.content,
    .about-tabs .wrapper.content{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .slider-controllers span{
        background-color: rgba(red, green, blue, alpha)
    }

    .hide-on-mobile {
        display: none !important;
    }

    #see-anew .asa-overlay .asa-content-wrapper{
        max-width: 100%;
    }

    #see-anew .asa-overlay .col-30{
        display: none;
    }
    
    #see-anew .asa-overlay .col-70{
        width: 100%;
        padding: 15px 1.5%;
        text-align: center;
    }

    #see-anew .asa-overlay .content-title {
        max-width: unset;
    }

    #see-anew .asa-overlay .content-text{
        max-width: unset;
    }

}

@media (max-width: 1024px) and (hover:none) {
    .parallax-slider{
        display: none;
    }
  
    .about-bg{
        background-image: url("img/about/about-hero.jpg");
    }
}

@media (max-width: 766px) and (hover:none) {
    .about-bg{
        background-image: url("img/about/about-hero-mobile.jpg");
    }
}

@media (max-width: 975px) {
    .about #slider-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    #our-campus .slider-controllers .slick-arrow {
        background-color: rgba(39, 61, 94, .74);
    }

    #our-campus .slider-controllers .prev {
        left: 0;
        padding: 0 20px 0 15px;
    }

    #our-campus .slider-controllers .next {
        right: 0;
        padding: 0 15px 0 20px;
    }

    #our-campus .slider .slide-img img {
        height: 400px;
    }

    #our-campus .campus-text-box {
        width: 100%;
        position: relative;
        background-color: rgb(39, 61, 94);
    }

    #our-campus .campus-text-box p {
        margin: 0;
    }

    #our-campus .campus-text-box h2 {
        padding: 25px 10px 0 10px;
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .about .wrapper.content .col-33,
    .about .wrapper.content .col-33.about-achievements {
        width: 47%;
    }

}

@media (min-width: 768px) and (max-width: 975px) {

    #our-campus .gtk-slider .gtk-slide span {
        font-size: 17px;
    }

}

@media (max-width: 767px) {

    .about .wrapper.content .col-33,
    .about .wrapper.content .col-33.about-achievements,
    .about .wrapper.content .col-50,
    .about .wrapper.content .col-66 {
        width: 100%;
    }

    .wrapper.content .flexbox .col-50:first-child {
        border-right: none;
        border-bottom: 1px solid #75adcf;
        margin-bottom: 20px;
    }

    #our-campus #chapel .col-50:first-child {
        border-right: none;
    }

    .about-bg {
        height: auto;
    }

    .about-bg .about-wrapper {
        padding: 10%;
    }

    .about-bg .about-wrapper h2 {
        font-size: 3em;
        line-height: 1em;
    }

    .about-bg .about-wrapper p {
        font-size: 1.5em;
        line-height: 1em; 
    }

    .about-bg .about-wrapper hr {
        width: 100%;
    }

    .wrapper.content h1,
    .wrapper.content h2,
    .wrapper.content h3 {
        font-size: 38px;
    }

    #overview-of-about .wrapper.content#about-profile .flexbox .col-33 {
        border: none;
    }

    #our-campus .campus-text-box p {
        padding: 15px 15px 30px 15px;
    }

    #our-history {
        height: 870px;
    }

    #our-history .container {
        width: initial;
        left: 10px;
        right: 10px;
    }

    #our-history .our-history-slider {
        width: 100%;
    }

    #our-history .history-timeline-wrapper {
        display: none;
    }

    #see-anew {
        background: url('img/about/see-anew-bg-mobile.png') center center no-repeat fixed;
        background-color: rgb(39,61,94);
        background-size:cover;
    }
}

@media (max-width: 640px) {

    #our-campus .gtk-slider .gtk-slide span {
        font-size: 17px;
    }

    #our-campus .campus-text-box h2 {
        font-size: 40px;
    }

}

@media (max-width: 400px) {

    #our-history .slider-wrapper .primary-button {
        margin-left: 5px;
    }

    #our-campus .slider-controllers {
        font-size: 55px;
    }

}










