@font-face {
    font-family: 'priori-sans-reg';
    src: url('fonts/priori-sans-regular-1361508596-webfont.eot');
    src: url('fonts/priori-sans-regular-1361508596-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/priori-sans-regular-1361508596-webfont.woff2') format('woff2'),
         url('fonts/priori-sans-regular-1361508596-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
      font-family: 'priori-sans-bold';
      src: url('fonts/ufonts.com_priori_sans_bold-webfont.eot');
      src: url('fonts/ufonts.com_priori_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
          url('fonts/ufonts.com_priori_sans_bold-webfont.woff') format('woff'),
          url('fonts/ufonts.com_priori_sans_bold-webfont.ttf') format('truetype'),
          url('fonts/ufonts.com_priori_sans_bold-webfont.svg#priori_sansbold') format('svg');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
      font-family: 'mendoza-medium';
      src: url('fonts/mendozaroman-medium-webfont.eot');
      src: url('fonts/mendozaroman-medium-webfont.eot?#iefix') format('embedded-opentype'),
          url('fonts/mendozaroman-medium-webfont.woff') format('woff'),
          url('fonts/mendozaroman-medium-webfont.ttf') format('truetype'),
          url('fonts/mendozaroman-medium-webfont.svg#itc_mendoza_romanmedium') format('svg');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
      font-family: 'mendoza-book';
      src: url('fonts/mendozaroman-book-webfont.eot');
      src: url('fonts/mendozaroman-book-webfont.eot?#iefix') format('embedded-opentype'),
          url('fonts/mendozaroman-book-webfont.woff') format('woff'),
          url('fonts/mendozaroman-book-webfont.ttf') format('truetype'),
          url('fonts/mendozaroman-book-webfont.svg#itc_mendoza_roman_bookregular') format('svg');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
      font-family: 'mendoza-book-italic';
      src: url('fonts/mendozaroman-bookitalic-webfont.eot');
      src: url('fonts/mendozaroman-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
          url('fonts/mendozaroman-bookitalic-webfont.woff') format('woff'),
          url('fonts/mendozaroman-bookitalic-webfont.ttf') format('truetype'),
          url('fonts/mendozaroman-bookitalic-webfont.svg#itc_mendoza_roman_bookitalic') format('svg');
      font-weight: normal;
      font-style: normal;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
          font-family: 'priori-sans-bold';
          src: url('fonts/ufonts.com_ori_sans_bold-webfont.svg#ori_sansbold') format('svg');
      }
      @font-face {
          font-family: 'mendoza-medium';
          src: url('fonts/mendozaroman-medium-webfont.svg#itc_mendoza_romanmedium') format('svg');
      }
      @font-face {
          font-family: 'mendoza-book-italic';
          src: url('fonts/mendozaroman-bookitalic-webfont.svg#itc_mendoza_roman_bookitalic') format('svg');
      }
      @font-face {
          font-family: 'mendoza-book';
          src: url('fonts/mendozaroman-book-webfont.svg#itc_mendoza_roman_bookregular') format('svg');
      }
      @font-face {
          font-family: 'aptifer-sans-bold';
          src: url('fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
      }
  }
  
/* ====== GENERAL STYLES ====== */

aside {display: none;}
body, html {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.lazyload-img {
    opacity:0;
    transition: all 500ms;
    max-width: 100%;
}

.hero-img{
    transform: scale(2);
}

.loaded-img {
    opacity:1;
}

.loaded-img.hero-img{
    transform: scale(1);
}

.main-holder{
    background: transparent;
}

.primary-button {
    background-color: #7CADCF;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 30px;
    margin: 5px;
    font-family: 'Aptifer Sans LT W01', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.primary-button:hover {
    text-decoration: none;
    background: #273D5E;
    transition: all 0.3s ease 0s;
}

.section {
    padding-top: 50px;
    padding-bottom: 75px;
}

.section p {
    margin: 0 0 1.5em 0;
}

.section .wrapper.content {
    width: 1050px;
    margin: 0 auto;
}

.section .wrapper.content h1,
.section .wrapper.content h2 {
    color: #273d5e;
    font-family: 'priori-sans-bold', sans-serif;
    font-size: 68px;
    font-weight: 700;
    margin: 0 0 .25em;
}

.section .wrapper.content h3 {
    color: #273d5e;
    font-family: 'priori-sans-bold', sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 .5em 0;
    position: relative;
}

.section .wrapper.content p {
    color: #273d5e;
    font-family: 'AptiferSansLTW01-Light', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.section .wrapper.content .flexbox {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0;
}

.section .wrapper.content .col-50 {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
}

.section .wrapper.content .col-60 {
    width: 60%;
    padding: 0 10px;
    box-sizing: border-box;
}

.section .wrapper.content .col-40 {
    width: 40%;
    padding: 0 10px;
    box-sizing: border-box;
}

.section .wrapper.content .col-25 {
    width: 25%;
    padding: 15px 1.5%;
    box-sizing: border-box;
}

.text-justify {
    text-align: left;
}

.parallax-slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 78% 50%;
}

.hero-bg {
    height: 785px;
    position: relative;
    overflow: hidden;
    background: transparent;
    color: #fff;
}

.hero-bg .loading-gif{
    content: url('./img/snaap/ajax-loader.gif');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-bg .title-wrapper {
    width: 820px;
    max-width: 80%;
    padding: 245px 10% 0;
}

.hero-bg .title-wrapper h2 {
    font-family: 'priori-sans-bold', sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
    margin: 0;
}

.hero-bg .title-wrapper p {
    font-family: 'priori-sans-bold', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 36px;
    margin: .5em 0 1em 0;
}

.hero-bg .title-wrapper hr {
    border: none;
    height: 8px;
    background: #9ec3de;
    width: 50%;
    margin: 1em 0;
}

/* ====== CONTENT ====== */
#section-1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

#section-1 p .bold{
    font-family: 'priori-sans-bold', sans-serif;
    font-weight: 700;
    font-size: 28px;
}

#section-1 p .italic{
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
}

#section-1 .small-text{
    display: block;
    font-family: 'priori-sans-reg', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 21px;
    color: #273d5e;
    margin-bottom: 1em;
}

#section-1 span.percentage-section-1{
    min-width: 92.22px;
    display: inline-block;
}

#section-1 .wrapper.content#our-alumni {
    position: relative;
}

#section-1 .wrapper.content#our-alumni .flexbox .alumni-col {
    border-right: 1px solid #75adcf;
    height: 429px;
    padding: 0 10px;
}

#section-1 .wrapper.content#our-alumni .flexbox .our-alumni-col {
    padding: 0px;
}

#section-1 .wrapper.content#our-alumni .right-panel .alumni-col:last-child {
    border-right: none;
    position: relative;
}

#section-1 .wrapper.content#our-alumni .right-panel .alumni-col:last-child p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#section-1 .wrapper.content#our-alumni .alumni-col p {
    font-size: 24px;
    margin-top: .5em;
    margin-bottom: 3em;
}

#section-1 .wrapper.content#our-alumni .alumni-col img {
    margin-bottom: 1.2em;
}

#section-1 .wrapper.content#our-alumni .alumni-col p:last-child {
    margin-bottom: 1em;
}

#section-1 .wrapper.content#our-alumni .alumni-col p .percent {
    font-family: 'priori-sans-bold', sans-serif;
    color: #273d5e;
    font-size: 101px;
    font-weight: 700;
}

#section-2 {
    padding: 0;
}

#section-2 h2{
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: .55em;
}

#section-2 h2::before {
    content: url('/site/custom_scripts/styles//img/snaap-music/title-deco-left.png'); 
    margin-right: 8px;
}

#section-2 h2::after {
    content: url('/site/custom_scripts/styles//img/snaap-music/title-deco-right.png'); 
    margin-left: 8px;
}

#section-2 .image-container{
    position: relative;
}

#section-2 .section-bg-img,
#section-4 .section-bg-img{
    position: relative;
    display: block;
    width: 100%;
    height: 608px;
    object-fit: cover;
    object-position: 100% 100%;
}

#section-2 p,
#section-4 p{
    font-family: 'AptiferSansLTW01-Light', sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: #273d5e;
    line-height: 28px;
    margin: .5em 0;
}

#section-2 .content-box{
    padding: 10px 35px;
    background-color: rgba(255, 255, 255, .86);
    max-width: 400px;
    position: absolute;
    right: 180px;
    bottom: 40%;
    -webkit-transform: translateY(30%);
        -ms-transform: translateY(30%);
            transform: translateY(30%);
    opacity: 0;
    -webkit-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

#section-2 .content-box.inView{ 
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}

#section-2 .content-box .flexbox{
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0;
}

#section-2 .content-box .col-50{
    width: 50%;
    box-sizing: border-box;
}

#section-4{
    position: relative;
}

#section-3{
    padding-bottom: 50px;
}

#section-3 .right-col{
    position: relative;
    -webkit-transform: translateX(90%);
        -ms-transform: translateX(90%);
            transform: translateX(90%);
    opacity: 0;
    -webkit-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

#section-3 .right-col.inView{
    position: relative;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
}

#section-3 .left-col img{
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#section-3 .left-col img.inView{
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}

#section-3 .content-box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#section-3 .content-box p:last-child{
    margin-bottom: 0;
}

#section-3 .content-box p:first-child{
    position: relative;
    padding-right: 170px;
}

#section-3 .content-box p:first-child:after{
    position: absolute;
    right: 0;
    top: -47px;
    content: url('./img/snaap/section-icon-1.png');
}

#section-3 .featured-text{
    font-family: 'priori-sans-bold', sans-serif;
    font-size: 35px;
    font-weight: 700;
}

#section-4 img{
    display: block;
    width: 100%;
    height: 750px;
    object-fit: cover;
    object-position: 50% 50%;
}

#section-4.section{
    padding: 0;
}

#section-4 .content-box{
    position: absolute;
    padding: 35px;
    background-color: rgba(255, 255, 255, .86);
    max-width: 300px;
    left: 180px;
    top: 50%;
    text-align: left;
    -webkit-transform: translateY(30%);
    -ms-transform: translateY(30%);
        transform: translateY(30%);
    opacity: 0;
    -webkit-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

#section-4 .content-box.inView{
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1;
}

#section-5{
    padding-top: 80px;
    padding-bottom: 50px;
}

#section-5 span.percentage-section-5{
    display: inline-block;
}

#section-5 p span{
    font-family: 'priori-sans-bold', sans-serif;
    color: #273d5e;
    font-size: 101px;
    font-weight: 700;
}

#section-5 .content p:first-child{
    margin-bottom: 10px;
}

/*===== MOBILE =====*/

@media (min-width:1025px) {

    #section-1 .our-alumni-col-left.col-slide-in {
        left: 0;
        opacity: 1;
        transition: all 1000ms ease;
    }

    #section-1 .our-alumni-col-right.col-slide-in {
        right: 0;
        opacity: 1;
        transition: all 1000ms ease;
    }

    #section-1 .our-alumni-col-left {
        position: relative;
        left: -200px;
        opacity: 0;
        transition: all 500ms ease;
    }

    #section-1 .our-alumni-col-right {
        position: relative;
        right: -200px;
        opacity: 0;
        transition: all 500ms ease;
    }

    #section-5 .s5-col-left.col-slide-in {
        left: 0;
        opacity: 1;
        transition: all 1000ms ease;
    }

    #section-5 .s5-col-right.col-slide-in {
        right: 0;
        opacity: 1;
        transition: all 1000ms ease;
    }

    #section-5 .s5-col-left {
        position: relative;
        left: -200px;
        opacity: 0;
        transition: all 500ms ease;
    }

    #section-5 .s5-col-right {
        position: relative;
        right: -200px;
        opacity: 0;
        transition: all 500ms ease;
    }
}

@media (max-width:1024px) {

    .section .wrapper.content{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    .section .wrapper.content .col-50.our-alumni-col{
        width: 100%;
    }

    .section .wrapper.content .col-50.alumni-col{
        width: 50%;
    }

    #section-1 .wrapper.content#our-alumni .left-panel .alumni-col:last-child {
        border-right: none;
    }

}

@media (max-width: 767px) {

    .hero-bg {
        height: auto;
    }

    .hero-bg .title-wrapper {
        padding: 10%;
    }

    .hero-bg .title-wrapper h2 {
        font-size: 3em;
        line-height: 1em;
    }

    .hero-bg .title-wrapper p {
        font-size: 1.5em;
        line-height: 1em; 
    }

    .hero-bg .title-wrapper hr {
        width: 100%;
    }

    .section .wrapper.content .col-25,
    .section .wrapper.content .col-40,
    .section .wrapper.content .col-50,
    .section .wrapper.content .col-60,
    .section .wrapper.content .col-66 {
        width: 100%;
    }

    #section-1 .wrapper.content#our-alumni .flexbox .alumni-col {
        height: unset;
        border: none;
    }

    #section-1 .wrapper.content#our-alumni .right-panel .alumni-col:last-child p {
        position: relative;
        top: unset;
        transform: translateY(0);
    }

    #section-2 .content-box{
        max-width: 100%;
        position: relative;
        background-color: #eeeeee;
        right: 0;
        bottom: 0;
        border-bottom: 1px solid #d6d6d6;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    #section-2 .content-box.inView {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    #section-2 p{
        text-align: center;
    }

    #section-2 .section-bg-img, #section-4 .section-bg-img {
        height: 400px;
        object-position: 50% 50%;
    }

    #section-3 .content-box {
        margin-top: 20px;
        position: relative;
        top: 0;
        transform: translateY(0);
        text-align: center;
    }

    #section-3 .content-box p:first-child {
        padding-right: 0;
    }

    #section-3 .content-box p:first-child:after {
        position: relative;
        right: unset;
        display: block;
        top: unset;
        margin-top: 10px;
    }

    #section-3 .left-col {
        text-align: center;
    }

    #section-4 .content-box {
        max-width: 100%;
        position: relative;
        background-color: #eeeeee;
        left: 0;
        top: 0;
        border-bottom: 1px solid #d6d6d6;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    #section-4 .content-box.inView {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    #section-4 img {
        height: 400px;
        object-position: 50% 50%;
    }

    #section-5 .content-box{
        margin-top: 40px;
    }

}

@media (max-width: 480px) {

    #section-2 .content-box .col-50{
        width: 100%;
    }
}
  
  
  