@font-face {
  font-family: 'raleway-light';
  src: url('/site/fonts/raleway-light-webfont.eot');
  src: url('/site/fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/site/fonts/raleway-light-webfont.woff') format('woff'),
    url('/site/fonts/raleway-light-webfont.ttf') format('truetype')/*,
    url('/site/fonts/raleway-light-webfont.svg#itc_mendoza_roman_bookitalic') format('svg')*/;
  font-weight: normal;
  font-style: normal;
}

/* Kris fix for filter flash*/
#content {
  min-height: 1500px; 
}
#storycard-container *, #storycard-container *:after, #storycard-container *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#story-nav *, #story-nav *:after, #story-nav *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.top-add-nav {display: none;}

.livechat-compact-container {display: none;}

#storycard-container {
  width:880px;
  /*min-height: 1500px; */
}

#storycard-container:after {
  content: "";
  display: table;
  clear: both;
}

#storycard-container .storycard {
   width:380px; height:324px; /* 400x306 */
   position:relative;
   background-color:#f0f0f0;
   border:1px solid #cbcbcb; border-radius:2px;
   /*float:left; margin:0 26px 26px 0;*/
   float:left; margin:16px;
   padding:0;
   cursor:pointer;
}

#storycard-container .storycard .text-section {
   padding:16px 16px 10px 20px;
   height:156px; /*116*/
   border-bottom:1px solid #cbcbcb;
}


#content #storycard-container .storycard h2 {
 font-family: priori-sans-bold;
 font-size:24px;
 line-height:1em;
 color:#273d5e;
 margin-bottom:4px;
 text-shadow: none;
 text-align: left;
 overflow: hidden;
 text-overflow: ellipsis;
 /*width: 300px;*/
 height: 50px; 
}

#storycard-container .storycard .storycard-caption {
 font: 14px/20px 'Aptifer Sans LT W01', sans-serif;
 /*line-height: 20px;*/
 line-height: 1em;
 color: #666666;
 margin-bottom: 4px;
 margin-top: 4px;
}
/*
#storycard-container .storycard .storycard-cat {
 font-family: raleway-light;/*priori-sans-bold;
 font-size:12px;
 color:#666666;
 margin:0;
}
*/
#storycard-container .storycard .storycard-cat {
  font: 12px/20px 'Aptifer Sans LT W01', sans-serif;
  color:#273d5e;
  margin:0;
 }

#storycard-container .storycard.has-photo .storycard-cat:before {
  content: '';
  display:block;
  float:right;
  background: url(/site/custom_scripts/styles/img/bridge/photo-icon.png) no-repeat;
  width:23px; height:23px;
  margin-left:4px;
}

#storycard-container .storycard.has-video .storycard-cat:after {
  content: '';
  display:block;
  float:right;
  background: url(/site/custom_scripts/styles/img/bridge/video-icon.png) no-repeat;
  width:23px; height:23px;
}

#storycard-container .storycard.has-website .storycard-cat:after {
  content: '';
  display:block;
  float:right;
  background: url(/site/custom_scripts/styles/img/bridge/web-icon.png) no-repeat;
  width:23px; height:23px;
}


#storycard-container .storycard.has-audio .storycard-cat:after {
  content: '';
  display:block;
  float:right;
  background: url(/site/custom_scripts/styles/img/bridge/audio-icon.png) no-repeat;
  width:23px; height:23px;
}

#storycard-container .storycard .storycard-img-container {
  border:1px solid #dfdfdf;
  height:166px;  /* 186 */
  /*width:378px;*/
  overflow:hidden;
  position:relative;
}

#storycard-container .storycard img {
  /*max-width:none;*/
  max-width:100%;
}

#storycard-container .storycard .storycard-read {
  position:absolute;
  width:140px; height:36px;
  font-family: priori-sans-bold;
  font-size:24px;
  line-height:1em;
  /*background-color:#273d5e;*/
  color:white;
  right:0;
  bottom:0;
  padding:6px 8px;
  background: #273d5e url(/site/custom_scripts/styles/img/bridge/readmore.png) no-repeat 124px -250px;
  transition: all 0.4s ease;
}

/* Apply card hover only on desktop */ 
@media only screen and (min-width:767px) { /* TODO get exact values */ 
  #storycard-container .storycard:hover .storycard-read {
      opacity:0.9;
      width:100%;
      height:100%;
      padding:90px 120px;
      background: #273d5e url(/site/custom_scripts/styles/img/bridge/readmore.png) no-repeat 129px 40px;
  }
}

/** Desktop card menu/filter **/
@media only screen and (min-width: 767px) {
  #story-nav {
     /*display:table;*/
  /*position:relative;*/
     width:100%;
     margin:35px 0;
     
  }
  
  #story-nav #mobile-filter {
    display:none;
  }
  
  #story-nav ul.story-nav {
   display:table; /*-row;*/
   width:100%;
   margin:0;
   padding:0;
  }
  #story-nav ul.story-nav li {
   display:table-cell;
   background:none; padding:0;
   width:33%;
   text-align:center;
   color:#344968;
   font-size:13px;
   padding:0;
   border-bottom: 3px solid #ccc;
   /*transition: all 0.5s ease;*/
  }
  
  #story-nav ul.story-nav li a {
    text-decoration:none;
    padding: 14px 0 0 45px;
    cursor: pointer;
    /*transition: all 0.5s ease;*/
  }
    
  #story-nav ul.story-nav li.stories-viewall a {
    background: url(/site/custom_scripts/styles/img/bridge/view-all.png) no-repeat 0 10px;
  }
  
  #story-nav ul.story-nav li.stories-alumni a {
    background: url(/site/custom_scripts/styles/img/bridge/our-alumni.png) no-repeat 13px 0;
  }
  
  #story-nav ul.story-nav li.stories-campus a {
    background: url(/site/custom_scripts/styles/img/bridge/our-campus.png) no-repeat 5px 8px;
  }
  
  
  #story-nav ul.story-nav li:hover, #story-nav ul.story-nav li.active-nav {
    border-bottom: 3px solid #344968;
  }            
  
  #story-nav ul.story-nav li.stories-viewall:hover a, #story-nav ul.story-nav li.stories-viewall.active-nav a {
    background-position: 0 -35px;
  }
  
  #story-nav ul.story-nav li.stories-alumni:hover a, #story-nav ul.story-nav li.stories-alumni.active-nav a {
    background-position: 13px -35px;
  }
  
  #story-nav ul.story-nav li.stories-campus:hover a, #story-nav ul.story-nav li.stories-campus.active-nav a {
    background-position: 5px -35px;
  }
              
  
  #story-nav ul.story-subnav {
   display:table; /*-row;*/
   width:55%;
   margin:10px auto;
   padding:0;
  }
  
  #story-nav ul#subnav-campus.story-subnav {
    float:right;
  }

  
  
  #story-nav ul.story-subnav li {
   display:table-cell;
   background:none; padding:0;
   text-align:center;
   color:#344968;
   font-size:13px;
   padding:0;
  }
  
  #story-nav ul.story-subnav li a {
    text-decoration:none;
    /*padding: 14px 0 0 45px;*/
  }
}  




/** Shrink cards to prevent stacking */

@media only screen and (min-width: 1000px) and (max-width: 1204px) {

  #storycard-container {
    width:110%;
  }
  
  #storycard-container .storycard {
     overflow:hidden;
     width:335px; height:auto;
     float:left; margin:0 16px 16px 0;
  }
  
  #storycard-container .storycard .text-section {
     padding:12px 12px 8px 16px;
  }
  
  #content #storycard-container .storycard h2 {
   font-size:21px;
  }
  
  #storycard-container .storycard .storycard-caption {
   font-size:14px;
  }
  
  #storycard-container .storycard .storycard-img-container {
    border:1px solid #dfdfdf;
    height:155px;
    width:100%;
    overflow:hidden;
    position:relative;
  }
  
  #storycard-container .storycard img {
    max-width:100%;
  }
  
  #storycard-container .storycard .storycard-read {
    position:absolute;
    width:140px; height:36px;
    font-family: priori-sans-bold;
    font-size:24px;
    line-height:1em;
    
    color:white;
    right:0;
    bottom:0;
    padding:6px 8px;
    background: #273d5e url(/site/custom_scripts/styles/img/bridge/readmore.png) no-repeat 124px -250px;
    transition: all 0.4s ease;
  }

  
  #storycard-container .storycard:hover .storycard-read {
      opacity:0.9;
      width:100%;
      height:100%;
      padding:77px 103px;
      background: #273d5e url(/site/custom_scripts/styles/img/bridge/readmore.png) no-repeat 110px 32px;
  }
  
} 



/** Start stacking cards below 1000 pixels wide TODO fix? */
@media only screen and (max-width: 999px) {

  #storycard-container {
    width:auto;
  }
  
  #storycard-container .storycard {
    float:none;
    clear:both;
    margin:26px auto 0 auto;
  }
}

/**** Mobile *****/

@media only screen and (max-width:766px) { /* check actual width to use */

/** Cards */

/* 288    285x134 */
  #storycard-container .storycard {
    width:288px; /*height:306px;*/
    height:auto;
  }
  
  #storycard-container .storycard .text-section {
     padding:10px 10px 5px 14px;
     height:auto; 
  }
  
  #storycard-container .storycard .storycard-caption, #storycard-container .storycard .storycard-cat {
    display:none;
  }
  
  #storycard-container .storycard .storycard-img-container {
    height:136px;
    width:287px;
  }
  
  #storycard-container .storycard img {
    width:285px;
  }
  #storycard-container .storycard .storycard-read {
    position:absolute;
    width:140px; height:36px;
    font-family: priori-sans-bold;
    font-size:24px;
    line-height:1em;
    color:white;
    right:0;
    bottom:0;
    padding:6px 8px;
    background: #273d5e url(/site/custom_scripts/styles/img/bridge/readmore.png) no-repeat 124px -250px;
    transition: none;
    opacity:0.9;
  }

  #storycard-container .storycard:hover .storycard-read {
    position:absolute;
    width:140px; height:36px;
    font-family: priori-sans-bold;
    font-size:24px;
    line-height:1em;
    color:white;
    right:0;
    bottom:0;
    padding:6px 8px;
    background: #273d5e url(/site/custom_scripts/styles/img/bridge/readmore.png) no-repeat 124px -250px;
    transition: none;
    opacity:0.9;
  }


  /** Mobile card menu/filter */
  #story-nav {
     /*display:table;*/
  /*position:relative;*/
     width:100%;
     margin:35px 0;
     
  }
  
  #story-nav #mobile-filter {
    display:block;
    background: #75adcf url(/site/custom_scripts/styles/img/bridge/mobile-menu.png) no-repeat 97% center;
    height:46px;
    font-family: sans-serif;
    font-size:17px;
    color:white;
    padding:12px;
  }
  
  #story-nav #mobile-filter.active-nav {
    color: #283d5d;
    background: #75adcf url(/site/custom_scripts/styles/img/bridge/mobile-x.png) no-repeat 97% center;
  }


  #story-nav ul.story-nav {
   display:none;
  }


  #story-nav ul.story-nav.visible {
   display:block;
   width:100%;
   margin:0;
   padding:0;
   border-bottom: 3px solid #c3c3c3;
  }
  
  #story-nav ul.story-nav.visible li[class^=stories] {
   display:block;
   background:none; padding:0;
   width:100%;
   height:46px;
   text-align:center;
   color:#344968;
   font-size:13px;
   padding:0;
   border-bottom: 2px solid #ddd;
   /*transition: all 0.5s ease;*/
   position:relative;
   
  }
  
  #story-nav ul.story-nav.visible li.stories-campus {
    border:none;
  }
  
  #story-nav ul.story-nav.visible li[class^=stories]:after {
    content:'';
    display:block;
    position:relative;
    border-left:2px solid #ccc;
    height:30px;
    width:36px;
    float:right;
    top:5px;
    right:10px;
    background: url(/site/custom_scripts/styles/img/bridge/menu-arrows.png) no-repeat 6px -30px;
  }

  #story-nav ul.story-nav.visible li.active-nav:after {
    background: url(/site/custom_scripts/styles/img/bridge/menu-arrows.png) no-repeat 6px -0px;
  }

  
  #story-nav ul.story-nav.visible li[class^=stories] a {
    display:inline-block;
    margin:auto;
    position:relative;
    left:-30px;
    text-decoration:none;
    padding: 14px 0 0 45px;
    cursor: pointer;
    /*transition: all 0.5s ease;*/
  }
    
  #story-nav ul.story-nav.visible li.stories-viewall {
    display:none;
  }
  
  #story-nav ul.story-nav.visible li.stories-alumni a {
    background: url(/site/custom_scripts/styles/img/bridge/our-alumni.png) no-repeat 13px 5px;
  }
  
  #story-nav ul.story-nav.visible li.stories-campus a {
    background: url(/site/custom_scripts/styles/img/bridge/our-campus.png) no-repeat 5px 11px;
  }
  
  #story-nav ul.story-subnav {
   display:table; /*-row;*/
   width:50%;
   margin:10px auto;
   padding:0;
  }
  
  /* #story-nav ul#subnav-campus.story-subnav {
    float:right;
  }*/
  
  #story-nav ul.story-subnav li {
   display:block;
   background:none; padding:0;
   width:100%;
   text-align:center;
   color:#344968;
   font-size:18px;
   line-height:1.8em;
   padding:0;
  }
  
  #story-nav ul.story-subnav li a {
    text-decoration:none;
    /*padding: 14px 0 0 45px;*/
  }
  
  
}            
            
            











/* Mobile slider */
@media only screen and (max-width:766px /* min-width:5000px*/) {

  #content .alt_gallery {
    padding:0;
    min-height:0; 
    /*width:100%;*/
  }
  
  #content .alt_gallery ul.slides {
    padding:0;
    margin:0;  
  }
  
  
  #content .alt_gallery ul.slides li {
    display:block; width:247px;/* height:460px;*/
    max-width:247px;
    min-height:0;
    margin:0 16px;
    padding:0;
    position:relative;
    border:1px solid gray;
    border-radius:2px;
    vertical-align:top;
    /*float:left;
    clear:both;*/
  }
  
  #content .alt_gallery ul.slides li img {
    display:block;
    border:1px solid gray;
    width:245px;
    /*max-width:none;*/
  }
  
  #content .alt_gallery ul.slides li .overlay {
    display:block;
    position:relative;
    width:100%;
    height:auto;
    /*z-index:4;
    /*max-width:none;*/
    color:white;
    
  }
  
  #content .alt_gallery .overlay div {
    text-align:center;
    background-color:#f0f0f0;
    padding:10px;
    height:96px;
  }
  
  #main #content .alt_gallery .overlay h2 {
    font-family: priori-sans-bold;
    font-size:28px;
  /*  text-shadow:0 0 12px black, 2px 2px 4px rgba(0,0,0,0.5)*/
  }
  
  #content .alt_gallery .overlay p {
    display:none;
  }
  
  #content .alt_gallery .overlay a {
    color:#293e5d;
    background-color:#75adcf;
    text-transform:uppercase;
    padding:8px 12px;
    border-radius:5px;
    text-decoration:none;
    display:inline-block;
    font-size:10px;
    line-height:1em;
  }

}