.event-content{
	padding:0;
	margin:0 0 20px 0;
	display:inline-block;
	border-top: 1px solid #ccc;
	width: 100%; 
}

.event-content .btn-info{
	background:#273D5E;
	color: #fff;
	text-decoration: none;
	margin-right: 10px;
	padding:7px 19px;
	display: table;
}
.event-content .btn-info:hover{
	background:#6697B8;
}

.event-content .picture-holder{
	float:left;
	width:25%;
	margin: 0 2.3% 10px 0;
	max-height: 160px; 
	overflow: hidden;
}
.event-content .picture-holder img{
	width:100%;
	height:auto;
	vertical-align:top;
	position:relative;
}
.event-content .text-box{
	float:left;
	width:55%;
	position:relative;padding: 10px 0 0 0;
}
.event-content .title-holder{
	display:block;
	font: 26px/28px 'priori-sans-bold', Arial, Helvetica, sans-serif;
	color: #273D5E;
	position:relative;padding-bottom: 10px;
}
.event-content p{margin-bottom:26px;}

.event-content .date-section{
	float:right;	
	width:100px;
	background:#273d5e;
	color:#fff;
	padding: 4px;
	font:16px/20px 'priori-sans-bold', Arial, Helvetica, sans-serif;
	text-align: center;
	position:relative;
	top:-1px;
}

.event-content .date-section .day {
	font-size: 24px;
	}

.date-end {
	float:right;
}


@media only screen and (max-width: 999px){
	.event-content .picture-holder{ display: none;	}

	.event-content .content-info{
		padding-top:58px;
		margin-bottom:20px;
	}

	.event-content .picture-holder{
		width:30.9%;
		margin-right:2%;
	}
	.event-content .text-box{
		width:350px;
	}
	.event-content .btn-info{

	}
	.event-content p{
		margin-bottom:11px;
	}

}
@media only screen and (max-width: 767px){

	.event-content .picture-holder{ display: none;	}
	.event-content .text-box{
		float:none;
		width:90%;
		padding: 0 20px;
	}
	.event-content .title-holder{
		font-size:36px;
		line-height:40px;
		margin-bottom:3px;
		text-align: center;
	}
	.event-content p{
		margin-bottom:23px;
		text-align: center;
	}

	.event-content .btn-info{
		margin: auto; 
		padding: 12px 20px; 

	}
	.event-content .date-section{
	width:150px;
	margin: 20px auto 10px auto;
	float: none;
	border-radius: 5px;
	background-color: #e7e7e7;
	border: 1px solid #afafaf;
	color: #273D5E;
}
}

@media only screen and (max-width: 480px){

	.event-content .text-box{
		float:left;
		width:90%;
	}
	.event-content .title-holder{
		font-size:30px;
		line-height:28px;
	}
}

