@font-face {
	font-family: 'priori-sans-bold';
	src: url('fonts/ufonts.com_priori_sans_bold-webfont.eot');
	src: url('fonts/ufonts.com_priori_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/ufonts.com_priori_sans_bold-webfont.woff') format('woff'),
		url('fonts/ufonts.com_priori_sans_bold-webfont.ttf') format('truetype'),
		url('fonts/ufonts.com_priori_sans_bold-webfont.svg#priori_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mendoza-medium';
	src: url('fonts/mendozaroman-medium-webfont.eot');
	src: url('fonts/mendozaroman-medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/mendozaroman-medium-webfont.woff') format('woff'),
		url('fonts/mendozaroman-medium-webfont.ttf') format('truetype'),
		url('fonts/mendozaroman-medium-webfont.svg#itc_mendoza_romanmedium') format('svg');
	font-weight: normal;
	font-stpx;yle: normal;
}
@font-face {
	font-family: 'mendoza-book';
	src: url('fonts/mendozaroman-book-webfont.eot');
	src: url('fonts/mendozaroman-book-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/mendozaroman-book-webfont.woff') format('woff'),
		url('fonts/mendozaroman-book-webfont.ttf') format('truetype'),
		url('fonts/mendozaroman-book-webfont.svg#itc_mendoza_roman_bookregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mendoza-book-italic';
	src: url('fonts/mendozaroman-bookitalic-webfont.eot');
	src: url('fonts/mendozaroman-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/mendozaroman-bookitalic-webfont.woff') format('woff'),
		url('fonts/mendozaroman-bookitalic-webfont.ttf') format('truetype'),
		url('fonts/mendozaroman-bookitalic-webfont.svg#itc_mendoza_roman_bookitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'priori-sans-bold';
		src: url('fonts/ufonts.com_ori_sans_bold-webfont.svg#ori_sansbold') format('svg');
	}
	@font-face {
		font-family: 'mendoza-medium';
		src: url('fonts/mendozaroman-medium-webfont.svg#itc_mendoza_romanmedium') format('svg');
	}
	@font-face {
		font-family: 'mendoza-book-italic';
		src: url('fonts/mendozaroman-bookitalic-webfont.svg#itc_mendoza_roman_bookitalic') format('svg');
	}
	@font-face {
		font-family: 'mendoza-book';
		src: url('fonts/mendozaroman-book-webfont.svg#itc_mendoza_roman_bookregular') format('svg');
	}
	@font-face {
		font-family: 'aptifer-sans-bold';
		src: url('fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
	}
}

/*---------------------*/

body {
    margin: 0;
    color: #2a3e5e;
    font: 14px/20px 'Aptifer Sans LT W01', sans-serif;
    min-width: 320px;
}

h2 {
	color: #628ba9;
	margin-bottom: 2em;
}

.col-25, .col-33, .col-50, .col-66, .col-75 {
	float: left;
}

.col-25 {
	width: 25%;
}

.col-33 {
	width: 33.333%;
}

.col-50 {
	width: 50%;
}

.col-66 {
	width: 66.667%;
}

.col-75 {
	width: 75%;
}

.career-wrapper {
	width: 1189px;
	margin: 0 auto;
	padding: 10px 40px;
}

.career-wrapper:after {
	content: "";
	display: block;
	clear: both;
}

.career-wrapper .industries-graph-legend {
	text-align: center;
  padding-top: 5px;
}

.center {
	text-align: center;
}

.big-txt {
	font-size: 1.5em;
	line-height: 1.25em;
}

.big-h3 {
	font-size: 38px;
	line-height: 1em;
}

.padding-v {
	padding-top: 2em;
	padding-bottom: 2em;
}

.hero {
	background: url('img/career/hero-bg.png') 50% 50% no-repeat scroll;
	background-size: cover;
	margin-top: 125px;
  padding-top: 120px;
	position: relative;
}

.hero h1 {
	font-size: 110px;
	line-height: 100px;
  background-color: transparent;  
}

.hero h2 {
	font-size: 34px;
	line-height: 1em;
}

.hero h1,
.hero h2 {
	color: #273d5e;
	text-transform: uppercase;
	font-family: 'priori-sans-bold', sans-serif;
	margin: 0;
}

.hero hr {
	height: 3px;
	background: #273d5e;
	border: none;
}

.hero .start-here {
	display: block;
	width: 85px;
	height: 85px;
	margin: 65px auto;
	background: #fff;
	font-size: 14px;
	line-height: 1em;
	text-transform: uppercase;
	border-radius: 100%;
	box-sizing: border-box;
	padding: 20px;
  cursor: pointer;
}

.hero .start-here img {
	display: block;
	margin: 5px auto 0;
}

.tabs-field a {
	text-decoration: none;
	color: #273d5e;
	display: inline-block;
	padding: 10px 15px;
	opacity: .4;
}

.tabs-field a img {
	vertical-align: middle;
}

.tabs-field a.active,
.tabs-field a:hover {
	opacity: 1;
}

.filters {
	background: #273d5e;
	color: #fff;
	font-size: 16px;
}

.filter-button {
	display: inline-block;
	width: 42px;
	height: 42px;
	border-radius: 100%;
	vertical-align: middle;
	margin: 0 20px;
  cursor: pointer;
}

.filter-button.open {
	background: #4d87a9 url('img/career/arrow-down-white.png') 50% 50% no-repeat scroll;

}

.filter-button.close {
	background: #4d87a9 url('img/career/close-white.png') 50% 50% no-repeat scroll;

}

.filters-open {
	background: #1a2a44;
	/* padding: 40px 0; */
  padding: 0 0 40px 0;
	position: relative;
	margin-bottom: 20px;
}

.filters-transition {
  transition: height 200ms;
}

.filters-open:after {
	content: "";
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;  
	border-top: 20px solid #1a2a44;
	position: absolute;
    left: calc(50% - 20px);
    bottom: -20px;
}

.filters-open ul {
	-webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  /* padding: 0; */
	margin: 0 0 40px 0;
	list-style-type: none;
  padding: 40px 0 0 0; 
}

.filters-open ul li a {
	color: #fff;
	line-height: 2em;
	opacity: .5;
	text-decoration: none;
}

.filters-open ul li {
	position: relative;
	padding-left: 30px;
	margin-bottom: 10px;
}

.filter-icon {
	content: "";
	display: inline-block;
	width: 28px;
    height: 28px;
    opacity: .5;
    vertical-align: middle;
	position: absolute;
    left: 0;
    top:0;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: scroll; 
}

.button {
	display: inline-block;
	margin: auto;
	padding: 20px 25px;
	border-radius: 8px;
	font-size: 1.5em;
}

.button img {
	margin-left: 20px;
}

.white-btn {
	background: #ffffff;
	color: #1e2e4b;
}

/*===== RATE =====*/

.grad-rate {
	padding: 0 2em;
	box-sizing: border-box;
	/*font-size: 20px;
	line-height: 28px;*/
	position: relative;
	width: 324px/*100%*/;
	background-size: contain;
	margin: 1em auto;
}

.grad-rate:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.gr-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10% 20%;
    box-sizing: border-box;
}

.grad-rate-nr {
	color: #4d87a9;
	font: 7em/1em 'priori-sans-bold', sans-serif;
	margin: 0;
}

.grad-rate p {
	margin: 0;
}

.grad-students:after {
	content: "";
	display: block;
	clear: both;
}

.grad-female, .grad-male {
	display: block;
	float: left;
	height: 60px;
	width: 5%;
	background-size: cover;
	opacity: .25;
}

.grad-female.active, .grad-male.active {
	opacity: 1;
}

.grad-female {
	background: url('img/career/grad-female.png') 50% 0 no-repeat scroll;
}

.grad-male {
	background: url('img/career/grad-male.png') 50% 0 no-repeat scroll;
}

/*===== WORK =====*/

.grad-work {
	background: #4d87a9;
	color: #fff;
}

.grad-work h2,
.grad-work h3 {
	color: #fff;
}

.grad-work ul {
	text-align: left;
	font-family: mendoza-medium, serif;
	padding: 0;
	margin: 0 0 40px 0;
	list-style-type: none;
}

.columns-4 {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}

.columns-3 {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}

.grad-work .logos {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;
	margin: 40px 0;
	position: relative;
}

.grad-work .logos ul {
  text-align: center;
}

.grad-work .logos img {
  max-height: 61px;
}

.logos .flex-direction-nav a {
    opacity: 0;
    position: absolute;
    left: -26px;
    top: 16px;
    width: 23px;
    height: 33px;
    background: url('img/career/arrow-02.png') no-repeat 0 -33px;
    text-indent: -9999px;
    overflow: hidden;
    transition: opacity 0.3s ease 0s;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    -ms-transition: opacity 0.3s ease 0s;
    z-index: 3;
}

.logos .flex-direction-nav .flex-next {
    left: auto;
    right: -26px;
    background-position: -23px -33px;
}

.grad-work:hover .flex-direction-nav a {
	opacity: 1;
}

.logos .flex-direction-nav a:hover {
	background-position-y: 0;
}

/*===== MARKETPLACE =====*/

.marketplace {
	background: #F0F0F0;
}

.marketplace .salary-ranges {
	/*display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;*/
	margin: 10px 0;
	height: 280px;
	position: relative;
	text-align: center;
}

.marketplace #range-1,
.marketplace #range-2,
.marketplace #range-3,
.marketplace #range-4,
.marketplace #range-5,
.marketplace #range-6 {
    position: absolute;
    bottom: 0;
	width: 12.67%;
	height: 100%;
	margin: 0 2%;
}

.marketplace #range-1 {
	left: 0;
}

.marketplace #range-2 {
	left: 16.67%;
}

.marketplace #range-3 {
	left: calc(16.67% * 2);
}

.marketplace #range-4 {
	left: calc(16.67% * 3);
}

.marketplace #range-5 {
	left: calc(16.67% * 4);
}

.marketplace #range-6 {
	left: calc(16.67% * 5);
}

.marketplace #range-1 .graph-bar,
.marketplace #range-2 .graph-bar,
.marketplace #range-3 .graph-bar,
.marketplace #range-4 .graph-bar,
.marketplace #range-5 .graph-bar,
.marketplace #range-6 .graph-bar {
    width: 100%;
}

.marketplace #range-1 .graph-bar {
	background: #324A74;
}

.marketplace #range-2 .graph-bar {
	background: #5588AA;
}

.marketplace #range-3 .graph-bar {
	background: #A74C3E;
}

.marketplace #range-4 .graph-bar {
	background: #88AD8D;
}

.marketplace #range-5 .graph-bar {
	background: #DD7B64;
}

.marketplace #range-6 .graph-bar {
	background: #7777B8;
}

.marketplace .salary-ranges li:before {
	content: "\2022";
	font-size: 80px;
	margin-right: 5px;
    line-height: 40px;
    vertical-align: middle;
    position: relative;
    bottom: 3px;
	overflow: hidden;
	display: inline-block;
}

.marketplace li#range-1:before,
.marketplace #range-1 .graph-value:before {
	color: #324A74;
}

.marketplace li#range-2:before,
.marketplace #range-2 .graph-value:before {
	color: #5588AA;
}

.marketplace li#range-3:before,
.marketplace #range-3 .graph-value:before {
	color: #A74C3E;
}

.marketplace li#range-4:before,
.marketplace #range-4 .graph-value:before {
	color: #88AD8D;
}

.marketplace li#range-5:before,
.marketplace #range-5 .graph-value:before {
	color: #DD7B64;
}

.marketplace li#range-6:before,
.marketplace #range-6 .graph-value:before {
	color: #7777B8;
}

.marketplace ul.salary-ranges {
	list-style: none;
	padding: 0;
	height: auto;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}

.marketplace ul.salary-ranges > li {
	position: initial !important;
	bottom: 0;
	margin: 0;
	width: 100%;
}

.marketplace .salary-ranges .graph-bar {
	position: absolute;
	bottom: 0;
}

/*===== GRAPH TIP =====*/

.graph-tip {
	display: none;
	padding: 0 10px;
    position: absolute;
    top: -14px;
	color: #fff;
    line-height: 28px;
    background: #303030;
    border-radius: 6px;	
    white-space: nowrap;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	z-index: 999;
}

.marketplace .graph-tip {
	left: 50%;
}

.industries-graph .graph-tip {
	left: 10%;
}

.graph-bar:hover .graph-tip  {
	display: block;
}

.graph-tip:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: -5px;
	left: 10px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;  
	border-top: 5px solid #303030;
}

.graph-tip .graph-value {
	font-weight: 700;
}

.graph-value:before {
	content: "\2022";
    font-size: 50px;
    margin-right: 5px;
    line-height: 28px;
    vertical-align: middle;
    position: relative;
    bottom: 3px;
    overflow: hidden;
    display: inline-block;
}

/*===== ALUMNI =====*/

.alumni {
	padding-bottom: 0;
}

.alumni:after {
	content: "";
	display: block;
	clear: both;
}

.alumni .alumni-img {
	height: 450px;
	background-size: cover;
	background-position: 50% 0;
	position: relative;
}

.alumni-info {
	background: rgba(39, 61, 94, .5);
	color: #fff;
	padding: 10px;
}

.alumni-info p {
	margin: 0;
}

.alumni .read-btn {
	position: absolute;
	bottom: 30px;
	width: 100%;
}

.alumni .read-btn a {
    background: #4d87a9;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 8px;
}

/*===== INDUSTRIES =====*/

.grad-industries {
	background: #F0F0F0;
}

.grad-industries ul {
	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 14px;
	line-height: 40px;
}

.grad-industries ul li:before {
	content: "\2022";
	font-size: 80px;
	margin-right: 5px;
    line-height: 40px;
    vertical-align: middle;
    position: relative;
    bottom: 3px;
	overflow: hidden;
	display: inline-block;
}

.clr-1:before,
.industries-graph .bar-1 .graph-value:before {
	color: #AA4D42;
}

.clr-2:before,
.industries-graph .bar-2 .graph-value:before {
	color: #64856C;
}

.clr-3:before,
.industries-graph .bar-3 .graph-value:before {
	color: #7376B8;
}

.clr-4:before,
.industries-graph .bar-4 .graph-value:before {
	color: #293D5E;
}

.clr-5:before,
.industries-graph .bar-5 .graph-value:before {
	color: #C85C4F;
}

.clr-6:before,
.industries-graph .bar-6 .graph-value:before {
	color: #97B29A;
}

.clr-7:before,
.industries-graph .bar-7 .graph-value:before {
	color: #5879BC;
}

.clr-8:before,
.industries-graph .bar-8 .graph-value:before {
	color: #74ACCF;
}

.clr-9:before,
.industries-graph .bar-9 .graph-value:before {
	color: #CF661F;
}

.clr-10:before,
.industries-graph .bar-10 .graph-value:before {
	color: #E1B085;
}

.clr-11:before,
.industries-graph .bar-11 .graph-value:before {
	color: #5890B1;
}

.clr-12:before,
.industries-graph .bar-12 .graph-value:before {
	color: #DCAC42;
}

.clr-13:before,
.industries-graph .bar-13 .graph-value:before {
	color: #00777B;
}

.industries-graph {
	margin: 50px 60px 0 60px;
	box-sizing: border-box;
	position: relative;
}

.graph-bg .graph-line {
	height: 40px;
	border-top: 1px solid #D8DAE1;
}

.graph-bg .graph-line:last-child {
	border-bottom: 1px solid #D8DAE1;
}

.graph-bars {
	padding: 0 5%;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 5%;
	width: 90%;
	height: 100%;
}

.graph-bars:after {
	content: "";
	display: block;
	clear: both;
}

.graph-bars .graph-bar {
	position: absolute;
	bottom: 0;
	width: 7.69%;
}

.bar-1 {
	background: #AA4D42;
  left: calc(7.69% * 12);
}

.bar-2 {
	background: #64856C;
  left: calc(7.69% * 11);
}

.bar-3 {
	background: #7376B8;
  left: calc(7.69% * 10);
}

.bar-4 {
	background: #293D5E;
  left: calc(7.69% * 9);
}

.bar-5 {
	background: #C85C4F;
  left: calc(7.69% * 8);
}

.bar-6 {
	background: #97B29A;
  left: calc(7.69% * 7);
}

.bar-7 {
	background: #5879BC;
	left: calc(7.69% * 6);
}

.bar-8 {
	background: #74ACCF;
  left: calc(7.69% * 5);
}

.bar-9 {
	background: #CF661F;
  left: calc(7.69% * 4);
}

.bar-10 {
	background: #E1B085;
  left: calc(7.69% * 3);
}

.bar-11 {
	background: #5890B1;
  left: calc(7.69% * 2);
}

.bar-12 {
	background: #DCAC42;
  left: 7.69%;
}

.bar-13 {
	background: #00777B;
  left: 0;
}

/*===== INFORMATION =====*/

.grad-info table {
	width: 100%;
	height: 266px;
	border-spacing: 0;
	font-family: 'priori-sans-bold', sans-serif;
	font-size: 28px;
	color: #4d87a9;
}

.grad-info table td {
	border-left: 1px solid #C0C6D0;
	padding: 20px 20px 20px 100px;
	width: 25%;
}

.grad-info table tr:first-child td {
	border-bottom: 1px solid #C0C6D0;
}

.grad-info table td[rowspan="2"] {
	border: none !important;
	vertical-align: bottom;
	padding: 20px !important;
}

.grad-info .rate {
	font-size: 60px;
	line-height: 60px;
	color: #304b74;
	display: block;
}

.grad-info .science {
	background: url('img/career/science.png') 50% 50% no-repeat scroll;
}

.grad-info .science, .grad-info .science .rate {
	text-align: center;
	color: #fff;
}

.grad-info .medicine {
	background: url('img/career/medicine.png') 20px 50% no-repeat scroll;
}

.grad-info .humanities {
	background: url('img/career/humanities.png') 20px 50% no-repeat scroll;
}

.grad-info .arts {
	background: url('img/career/arts.png') 20px 50% no-repeat scroll;
}

.grad-info .law {
	background: url('img/career/law.png') 20px 50% no-repeat scroll;
}

.grad-info .education {
	background: url('img/career/education.png') 20px 50% no-repeat scroll;
}

.grad-info .business {
	background: url('img/career/business.png') 20px 50% no-repeat scroll;
}

.grad-info-alt ul {
	list-style-type: none;
}

.grad-info-alt ul li {
    font-size: 1.2em;
    line-height: 2em;
}

.filter-data {
  cursor: pointer;
}

.read-story {
  cursor: pointer;
}

#filter-department {
  cursor: pointer;
}

.filter-text {
  cursor: pointer;
}

/*===== ALUMNI =====*/

.alumni-hero {
	padding: 0;
	background: none;
	position: relative;
}

.alumni-hero .btn-prev,
.alumni-hero .btn-next {
	background-color: #1a2a44;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: absolute;
	top: calc(50% - 40px);
	width: 44px;
	height: 44px;
	padding: 18px;
	z-index: 999;
}

.alumni-hero .btn-prev {
	background-image: url(img/alumni/previous.png);
	left: 0;
}

.alumni-hero .btn-next {
	background-image: url(img/alumni/next.png);
	right: 0;
}

.alumni-hero .alumni-slide {
	padding: 60px 0;
	width: 100%;
}

.alumni-hero .alumni-slide .alumni-slide-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.alumni-hero .alumni-slide .alumni-slide-bg .img-focus,
.alumni-hero .alumni-slide .alumni-slide-bg .img-blur {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.alumni-hero .alumni-slide .alumni-slide-bg .img-focus {
	background-size: cover;
	width: 25%;
	left: 0;
}

.alumni-hero .alumni-slide .alumni-slide-bg .img-blur {
	background-size: 400%;
	-webkit-filter: blur(20px);
    filter: blur(20px);
	width: 60%;
	left: 25%;
	overflow: hidden;
}

.alumni-hero h2 {
	text-transform: none;
}

.alumni-hero-box {
	background: #fff;
    padding: 2em;
    margin: 0 6%;
	text-align: left;
	position: relative;
	z-index: 99;
}

.alumni-hero-box p {
	font-family: "ITC Mendoza Roman Std";
	font-size: 1.25em;
	line-height: 1.5em;
}

.alumni-hero-box .button.read-more {
	color: #fff;
	background-color: #4d87a9;
	font-size: 18px;
	line-height: 60px;
	text-decoration: none;
	padding: 0 85px;
}

.alumni-profiles {
	font-size: 1.25em;
}

.alumni-profiles .alumni-item {
	display: flex;
	display: -webkit-flex;
	margin-bottom: 20px;
}

.alumni-profiles .alumni-item .alumni-img {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 8px 0 0 8px;
}

.alumni-profiles .alumni-item .alumni-box {
	border-top: 1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;
	position: relative;
	padding: 1em 1em 50px;
}

.alumni-profiles .alumni-item .alumni-name {
	margin: 0;
}

.alumni-profiles .alumni-item .alumni-desc {
	font-family: "ITC Mendoza Roman Std";
	line-height: 1.5em;
}

.alumni-profiles .alumni-item .button.read-more {
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
	background: #273D5E;
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	text-decoration: none;
	padding: 0 50px;
	border-radius: 0;
}

.alumni-hero .alumni-slide.next-slide {
	position: absolute;
	top: 0;
	left: 85%;
	opacity: .35;
}

/*===== PEEK =====*/

.peek-overlay {
    background: rgba(75,93,121,0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 999999;
}

.peek {
    background: #fff;
    width: 660px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 80px 0 40px 0;
    box-sizing: border-box;
    overflow: auto;
}

.peek-close {
    position: absolute;
    right: 17px;
    top: 17px;
}

.peek-img {
    width: 100%;
    margin-bottom: -5px;
    overflow: hidden;
}

.peek-img img {
    margin-left: 30%;
    width: 40%;
    border-radius: 0px 15px 0px 15px;
}

.peek-content {
    border-top-width: 0;
    margin-top: 0;
    padding: 30px;
}

.peek-content p {
    font: 15px/22px 'mendoza-book',serif
}

.peek-title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #2a3e5e;
}

.peek-subtitle {
    font-weight: normal;
    text-align: center;
}

#peek-overview {
  color: black;
  margin-top: 30px;
}

.peek-close {
  cursor: pointer;
}

#peek-info {
  padding: 50px;
}

#peek-info h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 60px;
}

#peek-info h2 {
  margin-bottom: 0;
  color: #2a3e5e;
}

#peek-info p {
  margin-bottom: 30px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.stop-scrolling .peek-overlay {
    left: 0;
    background: rgba(75,93,121,0.9);
    transition: left,background;
    -webkit-transition: left,background;
    -moz-transition: left,background;
    -o-transition: left,background;
    transition-duration: 0ms,375ms;
    -webkit-transition-timing-function: linear,ease-in-out;
    -moz-transition-timing-function: linear,ease-in-out;
    -o-transition-timing-function: linear,ease-in-out;
    transition-timing-function: linear,ease-in-out;
    -webkit-transition-delay: 0ms,0ms;
    -moz-transition-delay: 0ms,0ms;
    -o-transition-delay: 0ms,0ms;
    transition-delay: 0ms,0ms;
}

.stop-scrolling .peek {
    right: 0;
    -webkit-transition-duration: 750ms;
    -moz-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    transition-duration: 750ms;
    -webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
    -moz-transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
    -o-transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
    transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
}

.stop-scrolling .mm-page {
    position: relative;
    left: -660px;
    -webkit-transition-duration: 750ms;
    -moz-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    transition-duration: 750ms;
    -webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
    -moz-transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
    -o-transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
    transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
}

.peek-overlay {
    background: rgba(75,93,121,0);
    left: 100%;
    transition: left,background;
    -webkit-transition: left,background;
    -moz-transition: left,background;
    -o-transition: left,background;
    -webkit-transition-duration: 0ms,375ms;
    -moz-transition-duration: 0ms,375ms;
    -o-transition-duration: 0ms,375ms;
    transition-duration: 0ms,375ms;
    -webkit-transition-timing-function: linear,ease-in-out;
    -moz-transition-timing-function: linear,ease-in-out;
    -o-transition-timing-function: linear,ease-in-out;
    transition-timing-function: linear,ease-in-out;
    -webkit-transition-delay: 375ms,0ms;
    -moz-transition-delay: 375ms,0ms;
    -o-transition-delay: 375ms,0ms;
    transition-delay: 375ms,0ms;
}

.peek {
    right: -660px;
    -webkit-transition-duration: 750ms;
    -moz-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    transition-duration: 750ms;
    -webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
    -moz-transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
    -o-transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
    transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
}

.mm-page {
    position: relative;
    left: 0;
    -webkit-transition-duration: 750ms;
    -moz-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    transition-duration: 750ms;
    -webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
    -moz-transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
    -o-transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
    transition-timing-function: cubic-bezier(.175,.885,.32,1.14);
}

.peek-close {
    position: absolute;
    right: 17px;
    top: 17px;
}

.circliful { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%;
}

.filters-open ul li.selected .filter-icon,
.filters-open ul li.selected a {
  opacity: 1;
}

.info-button {
	text-align: right;
}

.info-link {
  cursor: pointer;
}

.info-link img {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.info-link img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/*===== MOBILE =====*/

@media (max-width: 1270px) {

	.career-wrapper {
		width: 100%;
		box-sizing: border-box;
	}
}

@media (min-width:1025px) and (max-width:1236px) {
    .hero h1 {
        font-size: 89px;
        line-height: 90px;
    }
}

@media (max-width: 1024px) {

	.col-25, .col-33, .col-50, .col-66, .col-75 {
		float: none;
		width: 100%;
	}

	.peek {
		width: 100%;
		right: -100%;
	}

	.center-on-mobile {
		text-align: center;
	}
/*
	.grad-rate {
		padding: 0;
		font-size: 26px;
		line-height: 36px;
		width: 400px;
		margin: 0 auto 1em;
	}

	.gr-content {
		padding: 15% 10%;
	}
*/
}

@media (max-width: 480px) {

	.career-wrapper {
		padding: 10px 30px;
	}

	.big-h3 {
		font-size: 30px;
	}

	.hero {
		height: 200px;
		padding: 0;
	}

	.hero .career-wrapper {
		display: none;
	}

	.tabs-field a {
		width: 30%;
		box-sizing: border-box;
	}

	.tabs-field a img {
		display: block;
		margin: auto;
	}

	.filters.center {
		text-align: left;
    height: 94px;
	}

	.filters p {
		position: relative;
		padding-right: 60px;
	}

  .filter-text {
    padding-right: 42px;
  }
  
	.filters p span {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
	}

	.filters-open ul,
	.grad-work ul,
	.grad-industries ul {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
/*
	.grad-rate {
		padding: 0;
	}

	.grad-rate p {
		font-size: 22px;
		line-height: 1.25em;
	}

	.gr-content {
		padding: 15%;
	}
*/
	.grad-students {
		display: none;
	}

	.grad-work .logos img {
		display: none;
	}

	.grad-work .logos #logo-1,
	.grad-work .logos #logo-3,
	.grad-work .logos #logo-4 {
		display: initial;
	}

	.marketplace .salary-ranges > div > p {
		display: none;
	}

	.marketplace ul.salary-ranges {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		display: block;
		list-style: none;
		text-align: left;
		height: auto;
    	margin-bottom: 0;
	}

	.marketplace ul.salary-ranges li {
		position: initial !important;
		width: initial !important;
		height: initial !important;
	}

	.marketplace ul.salary-ranges li p {
		margin: 0;
	}

	.marketplace #range-1,
	.marketplace #range-2,
	.marketplace #range-3,
	.marketplace #range-4,
	.marketplace #range-5,
	.marketplace #range-6 {
		margin: 0;
	}

	.alumni .alumni-img {
		height: 300px;
	}

	.industries-graph {
		margin: 30px 0 50px;
	}

	.graph-bars .graph-bar {
		box-sizing: border-box;
		border-left: 2px solid #f0f0f0;
    	border-right: 2px solid #f0f0f0;
	}

	.grad-info table td {
		display: block;
		width: 100%;
		box-sizing: border-box;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.grad-info table td,
	.grad-info table tr:first-child td {
		border: none;
		border-bottom: 2px solid #E0E4E9;
	}

	.grad-info table tr:last-child td:last-child {
		border-bottom: none;
	}

	.grad-info table td[rowspan="2"] {
		height: 300px;
		padding-top: 188px !important;
	}

}

@media (max-width: 320px) {

	.career-wrapper {
		padding: 10px 20px;
	}

	.grad-rate {
		width: 100%;
	}

	.grad-rate-nr {
		font-size: 4em;
		margin: 0;
	}

/*
	.grad-rate p {
    	font-size: 17px;
	}
*/
}

@media (max-width: 999px) {
	.hero {
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

	.career-wrapper {
		padding: 10px 90px;
	}

	.filters-open ul,
	.grad-work ul,
	.grad-industries ul {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
/*
	.grad-rate {
		padding: 0 6em;
		margin-bottom: 2em;
		font-size: 30px;
		line-height: 40px;
	}

	.gr-content {
		padding: 3em 8em;
	}
*/
	.grad-female, .grad-male {
		background-size: contain;
	}

	.grad-work .logos img {
		display: none;
	}

	.grad-work .logos #logo-1,
	.grad-work .logos #logo-2,
	.grad-work .logos #logo-3,
	.grad-work .logos #logo-4,
	.grad-work .logos #logo-6 {
		display: initial;
	}

	.alumni .col-33 {
		width: 33%;
		float: left;
	}

	.alumni .alumni-img {
		height: 300px;
	}

	.marketplace .salary-ranges li:before {
		display: block;
	}

	.industries-graph {
		margin: 30px 0 50px;
	}

	.graph-bars .graph-bar {
		box-sizing: border-box;
		border-left: 2px solid #f0f0f0;
    	border-right: 2px solid #f0f0f0;
	}

	.grad-info table tr {
		display: inline;
	}

	.grad-info table td {
		display: block;
		width: 50%;
		box-sizing: border-box;
		padding-top: 40px;
		padding-bottom: 40px;
		float: left;
	}

	.grad-info table td,
	.grad-info table tr:first-child td {
		border: none;
		border-bottom: 1px solid #E0E4E9;
	}

	.grad-info table tr:last-child td:nth-last-child(2),
	.grad-info table tr:last-child td:last-child {
		border-bottom: none;
	}

	.grad-info table tr:first-child td:nth-child(2),
	.grad-info table tr:first-child td:nth-child(4),
	.grad-info table tr:nth-child(2) td:nth-child(2) {
		border-right: 1px solid #E0E4E9; 
	}

	.grad-info table td[rowspan="2"] {
		height: 300px;
		padding-top: 188px !important;
		width: 100%;
		float: none;
		margin-bottom: 1em;
	}

}

@media (min-width:481px) and (max-width:800px) {
    .hero h1 {
        font-size: 68px;
        line-height: 65px;
    }
}