@font-face {
	font-family: 'priori-sans-bold';
	src: url('fonts/ufonts.com_priori_sans_bold-webfont.eot');
	src: url('fonts/ufonts.com_priori_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/ufonts.com_priori_sans_bold-webfont.woff') format('woff'),
		url('fonts/ufonts.com_priori_sans_bold-webfont.ttf') format('truetype'),
		url('fonts/ufonts.com_priori_sans_bold-webfont.svg#priori_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mendoza-medium';
	src: url('fonts/mendozaroman-medium-webfont.eot');
	src: url('fonts/mendozaroman-medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/mendozaroman-medium-webfont.woff') format('woff'),
		url('fonts/mendozaroman-medium-webfont.ttf') format('truetype'),
		url('fonts/mendozaroman-medium-webfont.svg#itc_mendoza_romanmedium') format('svg');
	font-weight: normal;
	font-stpx;yle: normal;
}
@font-face {
	font-family: 'mendoza-book';
	src: url('fonts/mendozaroman-book-webfont.eot');
	src: url('fonts/mendozaroman-book-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/mendozaroman-book-webfont.woff') format('woff'),
		url('fonts/mendozaroman-book-webfont.ttf') format('truetype'),
		url('fonts/mendozaroman-book-webfont.svg#itc_mendoza_roman_bookregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mendoza-book-italic';
	src: url('fonts/mendozaroman-bookitalic-webfont.eot');
	src: url('fonts/mendozaroman-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/mendozaroman-bookitalic-webfont.woff') format('woff'),
		url('fonts/mendozaroman-bookitalic-webfont.ttf') format('truetype'),
		url('fonts/mendozaroman-bookitalic-webfont.svg#itc_mendoza_roman_bookitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'priori-sans-bold';
		src: url('fonts/ufonts.com_ori_sans_bold-webfont.svg#ori_sansbold') format('svg');
	}
	@font-face {
		font-family: 'mendoza-medium';
		src: url('fonts/mendozaroman-medium-webfont.svg#itc_mendoza_romanmedium') format('svg');
	}
	@font-face {
		font-family: 'mendoza-book-italic';
		src: url('fonts/mendozaroman-bookitalic-webfont.svg#itc_mendoza_roman_bookitalic') format('svg');
	}
	@font-face {
		font-family: 'mendoza-book';
		src: url('fonts/mendozaroman-book-webfont.svg#itc_mendoza_roman_bookregular') format('svg');
	}
	@font-face {
		font-family: 'aptifer-sans-bold';
		src: url('fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
	}
}

/*---------------------*/

body {
    margin: 0;
    color: #2a3e5e;
    font: 14px/20px 'Aptifer Sans LT W01', sans-serif;
    min-width: 320px;
}

h2 {
	color: #628ba9;
	margin-bottom: 2em;
}

.col-25, .col-33, .col-50, .col-66, .col-75 {
	float: left;
}

.col-25 {
	width: 25%;
}

.col-33 {
	width: 33.333%;
}

.col-50 {
	width: 50%;
}

.col-66 {
	width: 66.667%;
}

.col-75 {
	width: 75%;
}

#internship ul {
    column-count: 4; 
}
.preparation-wrapper {
	width: 1189px;
	margin: 0 auto;
	padding: 10px 40px;
}

.preparation-wrapper:after {
	content: "";
	display: block;
	clear: both;
}

.center {
	text-align: center;
}

.big-txt {
	font-size: 1.5em;
	line-height: 1.25em;
}

.padding-v {
	padding-top: 2em;
	padding-bottom: 2em;
}

.hero {
	background: url('img/preparation/hero-bg.png') 50% 50% no-repeat scroll;
	background-size: cover;
  margin-top: 125px; 
	padding-top: 120px;
	position: relative;
}

.hero h1 {
	font-size: 110px;
	line-height: 100px;
}

.hero h2 {
	font-size: 34px;
	line-height: 1em;
}

.hero h1,
.hero h2 {
	color: #273d5e;
	text-transform: uppercase;
	font-family: 'priori-sans-bold', sans-serif;
	margin: 0;
}

.hero hr {
	height: 3px;
	background: #273d5e;
	border: none;
}

.hero .start-here {
	display: block;
	width: 85px;
	height: 85px;
	margin: 65px auto;
	background: #fff;
	font-size: 14px;
	line-height: 1em;
	text-transform: uppercase;
	border-radius: 100%;
	box-sizing: border-box;
	padding: 20px;
}

.hero .start-here img {
	display: block;
	margin: 5px auto 0;
}

.tabs-field a {
	text-decoration: none;
	color: #273d5e;
	display: inline-block;
	padding: 10px 15px;
	opacity: .4;
}

.tabs-field a img {
	vertical-align: middle;
}

.tabs-field a.active,
.tabs-field a:hover {
	opacity: 1;
}

.start-here {
  cursor: pointer;
}

.career-preperation .big-txt {
	line-height: 1.5em;
}

.career-preperation .right {
	text-align: right;
}

.career-preperation h2 {
	font-size: 2em;
	line-height: 1.5em;
	margin-bottom: 1em;
	color: #1e2e4b;
	/* text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.28); */
}

.career-preperation .hero {
	background: url('img/preparation/hero-bg.jpg') 50% 0 no-repeat scroll;
	background-size: cover;
}

.career-preperation .hero h1,
.career-preperation .hero h2 {
	color: #fff;
}

.career-preperation .hero h1 {
	border-bottom: 3px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.28);
}

.career-preperation .hero .start-here {
    margin: 35px auto;
}

.career-preperation .tabs-wrapper {
	background-color: #eee;
}

/*--- Prep programs slides ---*/

.career-preperation .program-slides {
	position: relative;
}

.career-preperation .slides-container {
  width: 880px;
  overflow: hidden;
  margin: auto;
}

.career-preperation .program-slides .slides {
	list-style-type: none;
	margin: 0;
	padding: 0;
  width: 1760px;
  text-align: left;
  position: relative;
  left: 0;
}

.career-preperation .program-slides .slides:after {
  content: "";
  display: block;
  clear: both;
}

.career-preperation .slides > li {
	cursor: pointer;
	position: relative;
  text-align: center;
  float: left;
  margin: 0 5px;  
}

.career-preperation .slides > li span {
	color: #273d5e;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-size: 1.2em;
	position: absolute;
	top: 36px;
	left: 0;
	width: 100%;
	height: 2em;
}

.career-preperation .slide-content {
	text-align: left;
}

.career-preperation .slide-content .close-slide a {
	background-color: #d8d8d8;
	color: #628ba9;
	font-size: 20px;
	line-height: 25px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	padding: 6px 20px 6px 10px;
  cursor: pointer;
}

.career-preperation .slide-content .close-slide a:before {
	content: "";
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-right: 10px;
	background: url(img/preparation/close-slide.png) 0 0 no-repeat;
	vertical-align: middle;
}

.career-preperation .slide-content .slide-txt {
	padding-right: 3em;
	box-sizing: border-box;
}

.career-preperation .slide-content h2 {
	font-family: "Priori Sans OT";
	text-transform: uppercase;
	line-height: 1em;
}

.career-preperation .slide-content:after {
	content: "";
	display: block;
	clear: both;
}

.slide-image-container {
	position: relative;
}

.slide-image-container:hover {
	cursor: pointer;
}

.slide-image-container .video-button {
	background: url(img/preparation/play-icon.png) 21px 16px no-repeat;
	background-color: rgba(0,0,0,0.25);
    width: 30px;
	height: 30px;
	padding: 16px;
	border: 2px solid #fff;
	border-radius: 100%;
	position: absolute;
	top: calc(153px - 33px);
	left: calc(270px - 33px);
}

.slide-image-container:hover .video-button {
	background-color: #4E607C;
	cursor: pointer;
}

.slide-image {
  width: 540px;
  height: 306px;
}

.career-preperation .program-slides .slide-button {
	position: absolute;
	background: url(img/preparation/slide-button.png) 0 0 no-repeat;
	width: 44px;
	height: 44px;
	top: calc(50% - 22px);
	cursor: pointer;
}

.career-preperation .program-slides .slide-button.prev {
	left: 0;
  visibility: hidden;
}

.career-preperation .program-slides .slide-button.next {
	right: 0;
	transform: scaleX(-1);
}
 
 .slider-transition-4 {
  -webkit-transition: left 1s linear;
  -moz-transition: left 1s linear;
  -o-transition: left 1s linear;
  transition: left 1s linear;  
}

 .slider-transition-3 {
  -webkit-transition: left 750ms linear;
  -moz-transition: left 750ms linear;
  -o-transition: left 750ms linear;
  transition: left 750ms linear;  
}

 .slider-transition-2 {
  -webkit-transition: left 500ms linear;
  -moz-transition: left 500ms linear;
  -o-transition: left 500ms linear;
  transition: left 500ms linear;  
}

 .slider-transition-1 {
  -webkit-transition: left 250ms linear;
  -moz-transition: left 250ms linear;
  -o-transition: left 250ms linear;
  transition: left 250ms linear;  
}
 
 .content-transition {
  transition: height 500ms;
}
 
/*--- Learning by doing ---*/

.career-preperation .learning-by-doing {
	background: url(img/preparation/learning-by-doing-bg.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.career-preperation .learning-by-doing,
.career-preperation .learning-by-doing h2,
.career-preperation .learning-by-doing a {
	color: #fff;
}

.career-preperation .learning-by-doing hr {
	width: 82px;
	margin: auto;
	border: none;
	height: 8px;
	background-color: #9ec3de;
}

.career-preperation .learning-by-doing p.big-txt {
	width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.career-preperation .learning-by-doing .video-button {
	border: 2px solid #fff;
	display: inline-block;
	padding: 12px 30px;
	font-size: 1.5em;
	text-decoration: none;
	margin: 1em;
}

.career-preperation .learning-by-doing .video-button:before {
	content: "";
	background: url(img/preparation/play-icon.png) 0 0 no-repeat;
	display: inline-block;
	width: 27px;
	height: 30px;
	margin-right: 12px;
	vertical-align: middle;
}

/*--- Learning tabs ---*/

.career-preperation .learning-tabs .preparation-wrapper {
	padding: 0;
}

.career-preperation .learning-tabs {
	background-color: #273C60;
	color: #fff;
}

.career-preperation .learning-tabs ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	display: -webkit-flex;
	flex-flow: row;
	justify-content: space-around;
}

.career-preperation .learning-tabs ul li {
	flex-grow: 1;
	text-align: center;
	padding: 2em 0;
}

.career-preperation .learning-tabs ul li.active {
	background-color: #4d87a9;
	position: relative;
}

.career-preperation .learning-tabs ul li.active:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 22px solid transparent;
	border-right: 22px solid transparent;
	border-top: 22px solid #4d87a9;
	bottom: -22px;
	left: calc(50% - 22px);
}

/*--- Learning tabs content ---*/

.career-preperation .learning-tabs-content h2 {
	margin-bottom: .5em;
}

.career-preperation .learning-tabs-content .learning-txt {
	font-family: "ITC Mendoza Roman Std";
	font-size: 1.25em;
	line-height: 1.5em;
	padding-right: 1em;
	box-sizing: border-box;
}

.career-preperation .learning-tabs-content .learning-txt p {
	margin-top: 0;
}

.career-preperation .learning-tabs-content h3 {
	color: #507898;
}

.career-preperation .learning-tabs-content ul {
	list-style-type: none;
	padding: 0;
}

.career-preperation .learning-tabs-content ul li {
	padding-left: 2em;
}

.career-preperation .learning-tabs-content ul li:before {
	content: "\2022";
    position: relative;
    left: -1em;

}

.career-preperation .learning-tabs-content ul.internship {
	column-count: 4;
}

.learning-tab {
  cursor: pointer;
}

.career-preperation .learning-img img {
  max-width: 100%;
}

.slides {
  /* padding: 0; */
}

/*===== MOBILE =====*/

@media (max-width: 1270px) {

	.preparation-wrapper {
		width: 100%;
		box-sizing: border-box;
	}
}

@media (max-width: 1024px) {

	.col-25, .col-33, .col-50, .col-66, .col-75 {
		float: none;
		width: 100%;
	}

	.career-preperation .learning-img {
		display: none;
	}
 
}

@media (max-width: 768px) {

	.career-preperation .learning-tabs ul {
		display: block;
	}

	.career-preperation .learning-tabs-content ul.internship {
		column-count: 1;
	}

	.career-preperation .learning-tabs ul li.active:after {
		display: none;
	}

	.career-preperation .learning-by-doing p.big-txt {
		width: 90%;
	}

}

@media (max-width: 480px) {

	.preparation-wrapper {
		padding: 10px 30px;
	}

	.hero {
		height: 200px;
		padding: 0;
	}

	.career-preperation .hero h1 {
		font-size: 48px;
    line-height: 50px;
    margin-bottom: 0;
    margin-top: 20px;
	}

	.hero h2 {
		font-size: 1.75em
	}

	#start-here-container {
		display: none;
	}
  
	.tabs-field a {
		width: 30%;
		box-sizing: border-box;
	}

	.tabs-field a img {
		display: block;
		margin: auto;
	}

}

@media (max-width: 320px) {

	.preparation-wrapper {
		padding: 10px 20px;
	}

}

@media (min-width: 768px) and (max-width: 1024px) {

	.preparation-wrapper {
		padding: 10px 90px;
	}

}

@media (min-width: 840px) and (max-width: 1059px) {

	.preparation-wrapper.slider-wrapper  {
		padding: 10px 40px;
	}

  .career-preperation .slides-container {
    width: 660px;
  }

}

@media (min-width: 580px) and (max-width: 839px) {

	.preparation-wrapper.slider-wrapper  {
		padding: 10px 30px;
	}

  .career-preperation .slides-container {
    width: 440px;
  }

}

@media (max-width: 579px) {

	.preparation-wrapper.slider-wrapper  {
		padding: 10px 10px;
	}

  .career-preperation .slides-container {
    width: 220px;
  }

}

@media (min-width: 481px) and (max-width: 690px) {

	.hero h1 {
		font-size: 70px;
	}

}

@media (max-width: 550px) {

  .slide-content iframe {
    width: 100%;
  }

  .slide-image {
    width: 100%;
    height: auto;
  }
  
}

@media (max-width: 999px) {
	.hero {
    margin-top: 0;
  }
} 

.career-preperation .learning-tabs-content .learning-content .preparation-wrapper p {
	font-family: 'mendoza-book';
	font-size: 16px; 
	line-height: 26px; 
}

#internship ul {
    column-count: 4; 
}
