#recognition .center {
    text-align: center;
}

#recognition .right {
    text-align: right;
}

#recognition .banner-heading.title {
    background: transparent;
    text-shadow: none;
    float: none;
    margin-bottom: .5em !important;
}

#recognition .banner-heading.title:before,
#recognition .banner-heading.title:after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 18px;
    position: relative;
    bottom: 3px;
}

#recognition .banner-heading.title:before {
    background: url(img/recognitions/blue-banner-left.png) no-repeat 0 0;
    margin-right: 10px;
}

#recognition .banner-heading.title:after {
    background: url(img/recognitions/blue-banner-right.png) no-repeat 0 0;
    margin-left: 10px;
}

#recognition h2.strike {
    color: #74accf!important;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    margin: 1em 0 !important;
}

#recognition h2.strike span {
    background: #fff;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}

#recognition h2.strike:after {
    content: "";
    display: block;
    height: 1px;
    background: #000;
    position: relative;
    bottom: .5em;
}

#recognition .rec-tabs {
    width: 100%;    
    font: 16px/20px 'Aptifer Sans LT W01', sans-serif;
    color: #2C3E5D;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}

#recognition .rec-tabs td {
    border-right: 1px solid #E5E4E5;
    vertical-align: middle;
    white-space: pre-line;
    padding: 0 10px;
}

#recognition .rec-tabs td  a{
  cursor: pointer;
  text-decoration: none !important;  
}

#recognition .rec-tabs td:last-child {
    border: none;
}

#recognition .storycard-container *, .storycard-container *:after, .storycard-container *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#recognition .storycard-container {
    width:100%;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    column-gap: 2em;
}

#recognition .storycard-container .storycard {
    display: inline-block;
    width:100%;
    max-width: 390px;
    position:relative;
    background-color:#f0f0f0;
    border:2px solid #cbcbcb;
    padding:0;
    margin: 0 0 2em;
}

#recognition .storycard-container .storycard .text-section {
    padding:16px 16px 10px 20px;
    border-bottom:2px solid #cbcbcb;
}

#recognition #content .storycard-container .storycard h2 {
    font-family: priori-sans-bold;
    font-size:28px;
    line-height:1em;
    color:#273d5e;
    margin-bottom:4px;
    text-shadow: none;
}

#recognition .storycard-container .storycard .storycard-caption {
    font: 16px/20px 'Aptifer Sans LT W01', sans-serif;
    font-size:16px;
    line-height:1em;
    color:#666666;
    margin-bottom:4px;
    margin-top: 4px;
} 

#recognition .storycard-container .storycard .storycard-img-container {
    border:0 solid #fff;
    overflow:hidden;
    position:relative;
    background-color: #fff;
}

#recognition .storycard-container .storycard img {
    max-width:100%;
    display: block;
    margin: auto;
    max-height: 260px;    
}

#recognition .storycard-container .storycard img.ranking-logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

#recognition .storycard-container .storycard .storycard-read {
    position:absolute;
    width:110px;
    height:36px;
    font-family: priori-sans-bold;
    font-size:24px;
    line-height:1em;
    color:white;    
    text-align: center;
    right:0;
    bottom:0;
    padding:6px 8px;
    background: #273d5e url(../new_img/readmore.png) no-repeat 124px -250px;
    transition: all 0.4s ease;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Apply card hover only on desktop */ 
@media only screen and (min-width:768px) { /* TODO get exact values */ 
    #recognition .storycard-container .storycard:hover .storycard-read {
        opacity:0.9;
        width:100%;
        height:100%;
        padding:80px 112px;
        background: #273d5e url(img/recognitions/readmore.png) no-repeat;
        background-position-x: 50%;
        background-position-y: calc(50% - 40px);
    }
}

@media (max-width:1024px) {
    #recognition .storycard-container {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        -moz-column-gap: 0;
        -webkit-column-gap: 0;
        column-gap: 0;
    }
    #recognition .storycard-container .storycard {
        display: block;
        margin: 0 auto 2em;
    }
}

@media (max-width:767px) {
    #recognition .banner-heading.title::before,
    #recognition .banner-heading.title::after {
        content: none;
    }
}

@media (max-width:999px) {
    #recognition .rec-tabs {
        display: none;
    }
    #recognition h2.strike:after {
        display: none; }
}

#content h2 {
  font: 25px/30px 'priori-sans-bold', sans-serif;
  margin: 0 0 13px;
  text-shadow: 1px 1px rgba(255,255,255,0.75);
  color: #273d5e;
}


