
/* Slate form embed blue */
.side-form-grad {
        margin: auto;
        background-color: #6697B8;
        padding: 30px 30px 30px 20px;
}
    .side-form-grad h3 {
      color: #273D5E !important;
      border-bottom: 2px solid #fff; 
      font-size: 2.5em !important;
      text-align: center;
      padding: 0 0 10px 0; 
}
    .side-form-grad p{
      color: #fff; 
      text-align: center;
      text-transform: uppercase;
}
    .side-form-grad h4 {
      color: #273D5E;
      text-align: center;
      font-size: 2em;
      padding: 0px; 
      margin: 15px;
}
.side-form-grad .form_label {
    color: #fff !important;
    /*display: none !important; */
}
.side-form-grad .form_text label {
    display: none !important; 
}

.side-form-grad button.default {
    font-size: 12px;
    color: #fff;
    background-color: #273D5E !important;
    padding: 20px 30px !important;
    border: 1px solid #273D5E !important;
    border-radius: 5px;
    margin-top: 15px;
    width: 100%;
}

.side-form-grad p.error,
.form_pages p.error {
    color: #000 !important;
    text-transform: revert!important;
    text-align: left !important;
}

/* UG request for info */
.ug-rfi .form_header .form_label {
    color: #6697B8 !important;
    border-bottom: 2px solid #efefef !important;
    font: 26px/28px 'prior-sans-reg', sans-serif !important;
    margin-top: 10px !important;
    background: none !important;
    padding: 0px !important; 
}

.ug-rfi .form_text {
    margin-right: 10px;
}

.ug-rfi #form_question_0fd0c23e-d04a-40e9-9fc6-e7e37953e453 {
    margin-right: 20px; 
}

.ug-rfi #form_question_dd492547-a68d-4d47-bdc0-d1f883f890f9 input {
    width: 25%; 
}


@media only screen and (max-width: 999px) {
.ug-rfi #form_question_dd492547-a68d-4d47-bdc0-d1f883f890f9 {
    width: 50%; 
}   
    .ug-rfi .form_text {
    margin-right: 10px !important;
}
    
    .ug-rfi #form_question_dd492547-a68d-4d47-bdc0-d1f883f890f9 input {
    width: 50%; 
}
}

@media only screen and (max-width: 767px) {
    .form_question {width: 100%!important;}
    .ug-rfi #form_question_dd492547-a68d-4d47-bdc0-d1f883f890f9 input {
    width: 100%; 
}
}


/* General Slate Form */
/*.form_pages label,
.form_pages .form_label {
    color: #757575;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    margin: 0 0 5px 0;
    padding-top: 6px;
    text-align: left;
    width: 100%;
    text-transform: uppercase;
}*/

.form_pages label span {
    margin-left: 5px; 
    color: red; 
    font-size: 1.2em; 
}

/*.form_pages legend {
    color: #273d5e;
    float: left;
    font: 22px/24px 'mendoza-book', serif;
    margin: 0;
    padding-top: 6px;
    text-align: left;
    width: 100%;
    text-transform: none;
}*/

.form_pages input[type=password],
.form_pages input[type=text],
.form_pages input[type=email],
.form_pages input[type=tel],
.form_pages input:not([type]),
.form_pages textarea {
    border: 1px solid #ccc;
    color: #808080;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: 34px;
    margin: 0;
    overflow: visible;
    padding: 4px;
    vertical-align: baseline;
    vertical-align: middle;
    width: 100%;
    max-width: 450px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form_pages textarea {
    max-width: 100% !important;
    height: 74px;
}

.form_pages select {
    border: 1px solid #ccc;
    color: #808080;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: 27px;
    line-height: 27px;
    margin: 0;
    margin-top: 4px;
    padding: 4px;
    vertical-align: baseline;
    vertical-align: middle;
    width: 100%;
    max-width: 450px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.form_pages div[data-required="1"] label:after,
.form_pages div[data-required="1"] legend:after {
    content: " *";
    color: red;
}

.form_pages div[data-type="radio"] label:after,
.form_pages div[data-type="address"] legend:after {
    content: "";
}

.form_pages .form_birthdate select {
    width: auto;
}

div.form_h1 .form_label {
    color: #273d5e;
    font: 32px/36px 'priori-sans-bold', sans-serif !important;
    margin: 10px 0 -10px 0;
    text-transform: none;
}

.action button.default {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #6697B8;
    padding: 10px 30px;
    border: 1px solid #6697B8;
    border-radius: 5px;
}

.action button.reset {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #273D5E;
    background-color: #efefef;
    padding: 10px 30px;
    border: 1px solid #efefef;
    border-radius: 5px;
}

/* Zoho short forms - Blue background */
    .side-form-grad #crmWebToEntityForm {
        margin: auto;
        background-color: #6697B8;
        padding: 30px 30px 30px 20px;

    }

    .side-form-grad h3 {
      color: #273D5E !important;
      border-bottom: 2px solid #fff; 
      font-size: 2.5em !important;
      text-align: center;
      padding: 0 0 10px 0; 
}
    .side-form-grad p{
      color: #fff; 
      text-align: center;
      text-transform: uppercase;
    }

    .side-form-grad h4 {
      color: #273D5E;
      text-align: center;
      font-size: 2em;
      padding: 0px; 
      margin: 15px;
}
    .side-form-grad label span {
        margin-left: 5px; 
        color: rgb(177, 0, 0); 
        font-size: 1.2em; 
    }

    .side-form-grad .break {
        border-top: 2px solid #efefef;
        padding-top: 25px;
        margin-top: 25px !important;
    }
    .side-form-grad .hidden-row {
        display: none;
    }
    .side-form-grad .select-dd {
        border: 1px solid #ccc;
        color: #808080;
        display: inline-block;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        font-weight: normal;
        height: 27px;
        line-height: 27px;
        margin: 0;
        margin-top: 4px;
        padding: 4px;
        vertical-align: baseline;
        vertical-align: middle;
        width: 100%;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    .side-form-grad .submit-box {
        margin: 20px 0 0 40px;
        float: left;
        clear: both;
    }
    .side-form-grad .reset {
        font-size: 12px;
        color: #273D5E;
        background-color: #efefef;
        padding: 10px 30px;
        border: 1px solid #efefef;
        border-radius: 5px;
    }
    .side-form-grad .submit-btn {
        font-size: 12px;
        color: #fff;
        background-color: #6697B8;
        padding: 10px 30px;
        border: 1px solid #6697B8;
        border-radius: 5px;
    }
    .side-form-grad .submit-btn-side {
        font-size: 12px;
        color: #fff;
        background-color: #273D5E;
        padding: 20px 30px;
        border: 1px solid #273D5E;
        border-radius: 5px;
        margin-top: 15px; 
        width: 100%;
    }
    .side-form-grad .row {
        display: inline-block;
        margin: 10px;
        width: 100%;
        float: left;
        clear: both;
    }
    .side-form-grad .side label {
        color: #fff;
        float: left;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 18px;
        margin: 0 0 5px 0;
        padding-top: 16px;
        text-align: left;
        width: 100%;
        text-transform: uppercase;
        display: none;
    }
    .side-form-grad .xfields-side {
        border: 1px solid #ccc;
        color: #808080;
        display: inline-block;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        font-weight: normal;
        height: 34px;
        margin: 0;
        overflow: visible;
        padding: 4px;
        vertical-align: baseline;
        vertical-align: middle;
        width: 100%;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
        -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
        -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
        -o-transition: border linear 0.2s, box-shadow linear 0.2s;
        transition: border linear 0.2s, box-shadow linear 0.2s;
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        margin: 10px 0 10px 0; 
    }
    .side-form-grad .xfields {
        border: 1px solid #ccc;
        color: #808080;
        display: inline-block;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        font-weight: normal;
        height: 24px;
        margin: 0;
        overflow: visible;
        padding: 4px;
        vertical-align: baseline;
        vertical-align: middle;
        width: 100%;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
        -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
        -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
        -o-transition: border linear 0.2s, box-shadow linear 0.2s;
        transition: border linear 0.2s, box-shadow linear 0.2s;
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    }
    .side-form-grad .input-row {
        float: left;
        width: 40%;
        padding: 0 27px;
    }
    .side-form-grad .row-hide {display: none;}

    .side-form-grad .input-text {
        border: 1px solid #ccc;
        color: #808080;
        display: inline-block;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        font-weight: normal;
        height: 74px;
        margin: 0;
        overflow: visible;
        padding: 4px;
        vertical-align: baseline;
        vertical-align: middle;
        width: 100%;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
        -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
        -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
        -o-transition: border linear 0.2s, box-shadow linear 0.2s;
        transition: border linear 0.2s, box-shadow linear 0.2s;
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    }
    .side-form-grad .input-row-text {width: 70%; margin: 10px 0 0 30px; }
    /*-------------------------- Small Desktop and Tablet -------------------*/
    @media only screen and (max-width: 1200px) {
        .side-form-grad h4 { font-size: 1.5em}
        #crmWebToEntityForm {padding: 10px 20px 30px 20px!important;}
    }

    /*-------------------------- mobile Breakpoint --------------------------*/
    @media only screen and (max-width: 721px) {
        .side-form-grad .input-row{
            width: 90%;
            padding: 0px; 
        }

        .side-form-grad .row {
            margin: 0px; 
        }
        .side-form-grad .xfields {
            width:100%;
        }

        .side-form-grad .input-row {
            margin-top: 10px; 
        }
        .side-form-grad .input-row-text {width: 100%; margin: 0px;}
    }


/* Zoho full form Grad RFI */
            #crmWebToEntityForm label span {
                margin-left: 5px; 
                color: red; 
                font-size: 1.2em; 
            }

            #crmWebToEntityForm .break {
                border-top: 2px solid #efefef;
                padding-top: 25px;
                margin-top: 25px !important;
            }
            #crmWebToEntityForm .hidden-row {
                display: none;
            }
            #crmWebToEntityForm .select-dd {
                border: 1px solid #ccc;
                color: #808080;
                display: inline-block;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 13px;
                font-weight: normal;
                height: 27px;
                line-height: 27px;
                margin: 0;
                margin-top: 4px;
                padding: 4px;
                vertical-align: baseline;
                vertical-align: middle;
                width: 100%;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }
            #crmWebToEntityForm .submit-box {
                margin: 20px 0 0 40px;
                float: left;
                clear: both;
            }
            #crmWebToEntityForm .reset {
                font-size: 12px;
                color: #273D5E;
                background-color: #efefef;
                padding: 10px 30px;
                border: 1px solid #efefef;
                border-radius: 5px;
            }
            #crmWebToEntityForm .submit-btn {
                font-size: 12px;
                color: #fff;
                background-color: #6697B8;
                padding: 10px 30px;
                border: 1px solid #6697B8;
                border-radius: 5px;
            }
            #crmWebToEntityForm .row {
                display: inline-block;
                margin: 10px;
                width: 100%;
                float: left;
                clear: both;
            }
            #crmWebToEntityForm label {
                color: #757575;
                float: left;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 16px;
                font-weight: normal;
                line-height: 18px;
                margin: 0 0 5px 0;
                padding-top: 6px;
                text-align: left;
                width: 100%;
                text-transform: uppercase;
            }
            #crmWebToEntityForm .xfields {
                border: 1px solid #ccc;
                color: #808080;
                display: inline-block;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 13px;
                font-weight: normal;
                height: 24px;
                margin: 0;
                overflow: visible;
                padding: 4px;
                vertical-align: baseline;
                vertical-align: middle;
                width: 100%;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
                -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
                -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
                -o-transition: border linear 0.2s, box-shadow linear 0.2s;
                transition: border linear 0.2s, box-shadow linear 0.2s;
                -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
            }
            #crmWebToEntityForm .input-row {
                float: left;
                width: 40%;
                padding: 0 27px;
            }
            #crmWebToEntityForm .row-hide {display: none;}

            #crmWebToEntityForm .input-text {
                border: 1px solid #ccc;
                color: #808080;
                display: inline-block;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 13px;
                font-weight: normal;
                height: 74px;
                margin: 0;
                overflow: visible;
                padding: 4px;
                vertical-align: baseline;
                vertical-align: middle;
                width: 100%;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
                -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
                -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
                -o-transition: border linear 0.2s, box-shadow linear 0.2s;
                transition: border linear 0.2s, box-shadow linear 0.2s;
                -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
            }
            #crmWebToEntityForm .input-row-text {width: 70%; margin: 10px 0 0 30px; }
/*-------------------------- mobile Breakpoint --------------------------*/
        @media only screen and (max-width: 721px) {
                #crmWebToEntityForm .input-row{
                    width: 90%;
                    padding: 0px; 
                }

                #crmWebToEntityForm .row {
                    margin: 0px; 
                }
                #crmWebToEntityForm .xfields {
                    width:100%;
                }

                #crmWebToEntityForm .input-row {
                    margin-top: 10px; 
                }
                #crmWebToEntityForm .input-row-text {width: 100%; margin: 0px;}

            }