/* replace the aqua green background with something that matches your color scheme.*/
#header {
  /*you can use .pngs with alpha transparency since you dont have to worry about IE6*/
  background: url("https://www.messiah.edu/site/custom_scripts/styles/canvas/header_bg.jpg?v1") repeat-x scroll left center transparent;
}

/*replace the "Canvas" logo with your school's*/
#header-logo, #header.no-user #header-logo {
  background: url("https://www.messiah.edu/site/custom_scripts/styles/canvas/header_logo.png?v1") no-repeat scroll 0 0 transparent;
  bottom: 10px;
  height: 50px;
  left: 6px;
  width: 191px;
}
/* if you are going to replace the Canvas logo on the top left with your school's,
you should move a (smaller) Cavas logo to the right side of the header'*/
#header-logo-secondary {
  /* note, you should set up you webserver to set the right headers to cache these
     images you link to for a long time (eg: 1 year) and change the querystring
     (the part that says "?v1") to force users to download a new version if you
     change it, see: http://developer.yahoo.com/performance/rules.html#expires */
  /*background: url("https://www.messiah.edu/site/custom_scripts/styles/canvas/header_canvas_logo.png?v1") no-repeat scroll 0 0 transparent;*/
/*  background: url("https://www.messiah.edu/site/custom_scripts/styles/canvas/header_logo.png?v1") no-repeat scroll 0 0 transparent;*/
  bottom: 11px;
  height: 26px;
  position: absolute;
  right: 26px;
  width: 135px;
  display: block;
}
/*make room for the menu since my sample logo is bigger than default canvas logo*/
#menu{ margin-left: 200px; }

/*make the menu lettering white and make it go back to grey when you hover over*/
.menu-item .menu-item-title, .menu-item .menu-item-no-drop { color: #FFFFFF; }
.menu-item.hover .menu-item-title { color: #555555; }

/*style the #identity (the thing that says "Ryan Shaw | inbox | profile | logout | (feedback)" in top right) */
/*#identity { background-color: #981E32; } */
#identity .user_name a{ color: #DC8894 !important; }
#identity a { color: #fff; }
#identity #feedback_link{ border-color: #333; background-color: #333; }
/*#identity .inbox a .unread-messages-count { background-color: #555555; }*/



/*login box*/
#modal-box.login-box {
  background: url('') no-repeat !important;
  background-color: #3d5579 !important;

}

/*this will remove the extra canvas logo*/
body.modal #modal-box.login-box h1 {
  background: url("https://www.messiah.edu/site/custom_scripts/styles/canvas/Messiah_login_logo.png?v1") no-repeat scroll center center transparent !important;
  height: 75px;
  margin-top:20px;
}

/*resize the login box to fit my image and change the color of 'stay signed in'*/
body.modal #modal-box.login-box {
  height: 335px;
  width: 610px;
  color: #2784A0;
}

body.modal #modal-box.login-box a { color: #FFFFFF !important; }

/*change the color of the login button*/
  /*body.modal #modal-box .button, body.modal #login-box .button {*/
  body.modal #modal-box .btn, body.modal #login-box .btn    {
  background-color: #64B9F9 !important;
  background-image: none !important;
  border-color: #64B9F9;
}

#login_form .btn-primary, #login_form .btn-primary:hover {
  background-color: #ae5321;
  background-image: none;
  border: none !important;
}


#login_form .login-options label {
  color:#FFFFFF;
}

/* -- Remove ZenDesk Create ticket block

#help-dialog-options a[href="#create_ticket"] {
  display:none !important;
}

--- */

.image-block .image-block-image {
    width: 50px;
}


/* 01 JUN 13: added to enlarge the avatars in the 'reply' to a discussion message.  They were tiny before ~ 32x32px  */

.discussion-entries .entry .avatar img {
    width: 50px !important;
    height: 50px !important;
}

/* 01 JUN 13 : commented this out because it controls ALL images in the #content div and the above was being ignored */
/* from : http://help.instructure.com/entries/21516859-Useful-CSS-Snippet-to-Auto-Scale-Images-in-Canvas-Content-Window */
/* #content img {
max-width: 100% !important;
height: auto !important;
width: auto\9 !important; /* ie8 */
/* } */

/* hide cross list section button */
/*.crosslist_link { display:none !important;}*/

code {
  color:#333333 !important;
}

.mc_alert {
  background: #FFEFF7;
  border: 1px solid #c69;
  margin: 1em 5% 10px;
  padding: 0 1em 0 1em;
}

