@font-face {
  font-family: 'priori-sans-reg';
  src: url('fonts/priori-sans-regular-1361508596-webfont.eot');
  src: url('fonts/priori-sans-regular-1361508596-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/priori-sans-regular-1361508596-webfont.woff2') format('woff2'),
       url('fonts/priori-sans-regular-1361508596-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'priori-sans-bold';
	src: url('fonts/ufonts.com_priori_sans_bold-webfont.eot');
	src: url('fonts/ufonts.com_priori_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/ufonts.com_priori_sans_bold-webfont.woff') format('woff'),
		url('fonts/ufonts.com_priori_sans_bold-webfont.ttf') format('truetype'),
		url('fonts/ufonts.com_priori_sans_bold-webfont.svg#priori_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mendoza-medium';
	src: url('fonts/mendozaroman-medium-webfont.eot');
	src: url('fonts/mendozaroman-medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/mendozaroman-medium-webfont.woff') format('woff'),
		url('fonts/mendozaroman-medium-webfont.ttf') format('truetype'),
		url('fonts/mendozaroman-medium-webfont.svg#itc_mendoza_romanmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mendoza-book';
	src: url('fonts/mendozaroman-book-webfont.eot');
	src: url('fonts/mendozaroman-book-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/mendozaroman-book-webfont.woff') format('woff'),
		url('fonts/mendozaroman-book-webfont.ttf') format('truetype'),
		url('fonts/mendozaroman-book-webfont.svg#itc_mendoza_roman_bookregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mendoza-book-italic';
	src: url('fonts/mendozaroman-bookitalic-webfont.eot');
	src: url('fonts/mendozaroman-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/mendozaroman-bookitalic-webfont.woff') format('woff'),
		url('fonts/mendozaroman-bookitalic-webfont.ttf') format('truetype'),
		url('fonts/mendozaroman-bookitalic-webfont.svg#itc_mendoza_roman_bookitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'priori-sans-bold';
		src: url('fonts/ufonts.com_ori_sans_bold-webfont.svg#ori_sansbold') format('svg');
	}
	@font-face {
		font-family: 'mendoza-medium';
		src: url('fonts/mendozaroman-medium-webfont.svg#itc_mendoza_romanmedium') format('svg');
	}
	@font-face {
		font-family: 'mendoza-book-italic';
		src: url('fonts/mendozaroman-bookitalic-webfont.svg#itc_mendoza_roman_bookitalic') format('svg');
	}
	@font-face {
		font-family: 'mendoza-book';
		src: url('fonts/mendozaroman-book-webfont.svg#itc_mendoza_roman_bookregular') format('svg');
	}
	@font-face {
		font-family: 'aptifer-sans-bold';
		src: url('fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
	}
}

body, html {
    margin: 0;
    padding: 0;
}

.text-justify {
    text-align: left;
}

.underline {
    text-decoration: underline;
}

.ml-25{
    margin-left: 25px;
}

.main-holder {
    background: transparent;
}

.lazyload-img {
    opacity:0;
    transition: all 500ms;
    max-width: 100%;
}

.hero-img{
    transform: scale(2);
}

.loaded-img {
    opacity:1;
}

.loaded-img.hero-img{
    transform: scale(1);
}

.middle-line-text::before,
.middle-line-text::after{
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background: #639dc4;
    top: 50%;
}

.middle-line-text{
    color: #75adcf;
    font-family: 'priori-sans-reg', sans-serif;
    font-size: 38px;
    margin: 0 0 .5em 0;
    position: relative;
}

.middle-line-text::before{
    width: calc(50% - 4em);
    background: #639dc4;
    left: 0;
}

.middle-line-text::after{
    width: calc(50% - 4em);
    left: calc(50% + 4em);
}

.parallax-slider img{
    width: 100%;
    height: 100%;
}

.slick-prev::before,
.slick-next::before {
    font-family: fontawesome;
    font-size: 60px;
    line-height: 1em;
    color: #273d5e;
}

.slick-next::before {
    content: "\f105";
}

.slick-prev::before {
    content: "\f104";
}

.slick-prev, .slick-next {
    width: auto;
    height: auto;
    top: 101px;
}

.hero-section {
    height: 785px;
    position: relative;
    overflow: hidden;
    background: transparent;
    color: #fff;
}

.hero-section .loading-gif{
    width: 40px;
    content: url('img/ug-research/ajax-loader.gif');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-section.loading-hero-img{
    background-color: rgb(44,66,99);
}

.hero-section .hero-title-wrapper {
    width: 820px;
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-30%);
}

.hero-section .hero-title-wrapper h2 {
    font-family: 'priori-sans-bold', sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 90px;
    text-transform: uppercase;
    margin: 0;
}

.hero-section .hero-title-wrapper p {
    font-family: 'priori-sans-bold', sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin: .5em 0 1em 0;
}

.hero-section .hero-title-wrapper hr {
    border: none;
    height: 8px;
    background: #9ec3de;
    width: 50%;
    margin: 1em 0;
}


/*===== CONTENT =====*/

.center {
    text-align: center;
}

.section {
    padding-top: 50px;
    padding-bottom: 75px;
}

.section .wrapper.content {
    width: 1050px;
    margin: 0 auto;
}

.section .wrapper.content h1,
.section .wrapper.content h2 {
    color: #273d5e;
    font-family: 'priori-sans-bold', sans-serif;
    font-weight: 700;
    font-size: 68px;
    margin: 80px 0 .25em;
}

.section .wrapper.content h2.header-inside-col{
    font-size: 51px;
    margin: 0 0 .25em;
    text-align: left;
}

.section .wrapper.content h3 {
    color: #638aa7;
    font-family: 'priori-sans-reg', sans-serif;
    font-size: 38px;
    font-weight: 400;
    margin: 0 0 .5em 0;
    position: relative;
}

.section .wrapper.content p,
.section .wrapper.content ul li {
    color: #273d5e;
    font-family: 'AptiferSansLTW01-Light', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.section .wrapper.content .flexbox {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0;
}

.section .wrapper.content .col-66 {
    width: 66%;
    padding: 15px 1.5%;
    box-sizing: border-box;
}

.section .wrapper.content .col-50 {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
}

.section .wrapper.content .col-33 {
    width: 33.333%;
    padding: 15px 1.5%;
    box-sizing: border-box;
}

.primary-button {
    background-color: #7CADCF;
    color: #fff;
    border-radius: 5px;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 5px;
    font-family: 'Aptifer Sans LT W01', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.primary-button:hover {
    text-decoration: none;
    background: #273D5E;
    transition: all 0.3s ease 0s;
}

.section p {
    margin: 0 0 1.5em 0;
}

.section-1 .accordion-container{
    margin-bottom: 30px;
}

#section-2 .section-2-overlay {
    background-color: rgba(0,0,0,0.6);
    padding-top: 100px;
    padding-bottom: 75px;
    margin-top: -50px;
    margin-bottom: -75px;
}

#section-2 .section-2-overlay,
#section-2 .section-2-overlay .wrapper.content p {
    color: #fff;
}

#section-2 .section-2-overlay .wrapper.content img {
    border-radius: 0;
    border: none;
}

#section-2 .section-2-overlay .wrapper.content {
    position: relative;
}

#section-2 .section-2-overlay .close-button {
    position: absolute;
    top: -40px;
    right: 0;
}

#section-2 .section-2-overlay .close-button a {
    color: #fff;
    font-size: 36px;
    cursor: pointer;
}

#section-2 .section-2-overlay .close-button a:hover {
    color: #75adcf;
}

#section-2 .section-2-overlay .wrapper.content h3 {
    font-family: 'priori-sans-reg', sans-serif;
    font-size: 38px;
    text-transform: none;
    margin: 0 0 .5em 0;
    position: relative;
}

#section-2 .section-2-overlay h3::before,
#section-2 .section-2-overlay h3::after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    background: rgba(255,255,255,0.4);
    top: 50%;
    width: calc(50% - 4em);
}

#section-2 .section-2-overlay h3.longer-title::before,
#section-2 .section-2-overlay h3.longer-title::after{
    width: calc(50% - 7em);
}

#section-2 .section-2-overlay h3::before {
left: 0;
}

#section-2 .section-2-overlay h3::after {
right: 0;
}

#section-2 .section-2-overlay .section-2-overlay-tabs {
    list-style: none;
    margin: 40px 0;
    padding: 0;
}

#section-2 .section-2-overlay .section-2-overlay-tabs li {
    display: inline-block;
    font-family: 'priori-sans-bold', sans-serif;
    font-size: 24px;
    line-height: 2em;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 15px;
}

#section-2 .section-2-overlay .section-2-overlay-tabs li a {
    cursor: pointer;
}

#section-2 .section-2-overlay .section-2-overlay-tabs li a {
    color: #fff;
}

#section-2 .section-2-overlay .section-2-overlay-tabs li a:hover {
    color: #fff;
    text-decoration: none;
}

#section-2 .section-2-overlay .section-2-overlay-tabs li a.active {
    color: #75adcf;
    border-bottom: 8px solid #75adcf;
    padding-bottom: 6px;
}

#section-2 .section-2-overlay h2 {
    margin-top: -10px;
    margin-bottom: 25px;
}

.section-4{
    background-color: rgba(116, 172, 207, 0.4);
}

.square-panel-section{
    background: url(img/ug-research/pattern-bg.png) center top repeat scroll;
}

.square-panel-section .video-container{
    position: relative;
    cursor: pointer;
    height: 290px;
}

.square-panel-section .play-btn-container{
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square-panel-section .wrapper.content {
    padding: 0 30px;
    box-sizing: border-box;
}

.square-panel-section .square-panel-section-wrapper { 
    position: relative;
    margin-top: 60px;
    margin-bottom: 50px;
}

.square-panel-section .square-panel-section-row > div {
    position: relative;
    overflow: hidden;
    border: none; 
}

.square-panel-section .wrapper.content > hr {
    margin-bottom: 50px;
}

.square-panel-section .square-panel-section-row > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.square-panel-section .wrapper.content .col-33 {
    padding: 0px 10px;
}

.square-panel-section .square-panel-section-row > div .video-title-container {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    display: block;
    height: 48px;
    background-color: rgb(39, 61, 94);
    padding: 12px 0;
    box-sizing: border-box;
    overflow: hidden;
    transition: 300ms;
}

.square-panel-section .square-panel-section-row > div .video-title-container h4 {
    color: #fff;
    font-family: 'priori-sans-bold', sans-serif;
    text-transform: uppercase;
    font-size: 21px;
    margin: 0;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

#section-2 .circular-image{
    width: 214px;
    height: auto;
}

#section-2 .circle-container{
    position: relative;
    display: inline-block;
    width: 214px;
    height: 214px;
    text-align: center;
    cursor: pointer;
}

#section-2 .circle-overlay{
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

#section-2 .circle-overlay{
    background-color: #75ADCF;
}

#section-2 .circle-container:hover .circle-overlay{
    opacity: .5;
}

#section-2 {
    background: url('img/ug-research/section-2-bg-min.png') center center no-repeat fixed;
    background-color: rgb(39,61,94);
    background-size:cover;
}

#section-4{
    padding-bottom: 135px;
}

#section-4 h2 {
    text-align: center; 
}

#section-5{
    background: url('img/ug-research/section-5-bg-min.jpg') center center no-repeat fixed;
    background-color: rgb(39,61,94);
    background-size: cover;
    padding-bottom: 135px;
}

#section-5 .accordion__content p{
    color: #efefef;
    font-size: 18px;
}

.circular-image {
    cursor: pointer;
}

#section-2 .section-description,
#section-5 .section-description{
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

#section-6{
    background: url('img/ug-research/pattern-min.png') center center repeat;
}

#section-2 h2,
#section-6 h2{
    margin-top: 80px;
}

#section-2 .circle-flip h3{
    font-family: 'priori-sans-bold', sans-serif;
}

#section-2 #circle-flip .col-33 {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg);
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    transition-delay: 0s;
}

#section-2 #circle-flip .flexbox.inView .col-33 {
    -webkit-transform: rotate3d(0, 1, 0, 0); 
    transform: rotate3d(0, 1, 0, 0);
    opacity: 1;
}

#section-2 #circle-flip .flexbox:first-child .col-33:first-child {
    -webkit-transition-delay: .45s;
    transition-delay: .45s; 
}

#section-2 #circle-flip .flexbox:first-child .col-33:nth-child(2) {
    -webkit-transition-delay: .55s;
    transition-delay: .55s;
}

#section-2 #circle-flip .flexbox:first-child .col-33:nth-child(3) {
    -webkit-transition-delay: .65s;
    transition-delay: .65s;
}

#section-2 #circle-flip .flexbox:nth-child(2) .col-33:first-child {
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
}

#section-2 #circle-flip .flexbox:nth-child(2) .col-33:nth-child(2) {
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}

#section-2 #circle-flip .flexbox:nth-child(2) .col-33:nth-child(3) {
    -webkit-transition-delay: .8s;
    transition-delay: .8s;
}

#section-2 .wrapper.content h2,
#section-5 .wrapper.content h2,
#section-2 .wrapper.content h3 {
    color: #fff;
}

#section-2 .wrapper.content h3 {
    text-transform: uppercase;
    font-size: 24px;
    margin: 1em 0;
}

#section-2 .wrapper.content .col-60 {
    width: 60%;
    padding: 15px 1.5%;
    box-sizing: border-box;
}

#section-2 .wrapper.content .col-40 {
    width: 40%;
    padding: 15px 1.5%;
    box-sizing: border-box;
}

#section-1 .accordion,
#section-5 .accordion{
    margin-top: 30px;
    border-bottom: 1px solid #74accf;
}

#section-1 .accordion input[name='panel'],
#section-5 .accordion input[name='panel'] {
    display: none;
}

#section-1 .accordion label {
    color: #273d5e;
    padding: 17px 60px 17px 30px;
    font-size: 16px;
    font-weight: bold;
}

#section-5 .accordion label {
    font-size: 20px;
    color: #ffffff;
    padding: .96em 3em .96em .96em;
}

#section-1 .accordion label, 
#section-5 .accordion label {
    text-transform: uppercase;
    position: relative;
    display: block;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
    border-top: 1px solid #74accf;
}

#section-1 .accordion label:after{
   content:'';
    background-image: url(/site/custom_scripts/styles/img/grad-program-listing/chevron-down.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    width: 23px;
    height: 15px;
}

#section-1 .accordion input:checked + label:after{
    content:'';
    background-image: url(/site/custom_scripts/styles/img/ug-research/chevron-up-blue.png);
}

#section-5 .accordion input:checked + label:after {
    content:'';
    background-image: url(/site/custom_scripts/styles/img/ug-research/chevron-up-white.png);
}

#section-1 .accordion .accordion__content,
#section-5 .accordion .accordion__content{
    overflow: hidden;
    max-height: 0em;
    position: relative;
    padding: 0 1.5em;
    transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}

#section-1 input[name='panel']:checked ~ .accordion__content,
#section-5 input[name='panel']:checked ~ .accordion__content {
    max-height: 180em;
}

.blue-bg-slider{
    margin-top: 40px;
}

.page-slider {
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
}

.page-slider::after {
    content: "";
    display: block;
    clear: both;
}

.page-slider .page-slider-nav-left,
.page-slider .page-slider-nav-right {
    position: absolute;
    top: calc(50% - 35px);
    color: #293d5e;
    font-size: 70px;
    cursor: pointer;
}

.page-slider .page-slider-nav-left {
    left: 10px;
}

.page-slider .page-slider-nav-right {
    right: 10px;
}

.page-slider .page-slide {
    margin: 0 .5%;
    padding: 5px;
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
    position: relative;
}

.page-slider .flex-container {
    display: flex;
    align-items: center;
}

.section .wrapper.content .page-slider p.statement{
    color: #000000;
}

.section .wrapper.content .page-slider p.name,
.section .wrapper.content .page-slider p.role{
    margin:0;
}

.section .wrapper.content .page-slider p.name{
    font-weight: 700;
    font-size: 30px;
}

.section .wrapper.content .page-slider p.role{
    font-weight: 400
}

/*===== LITY =====*/

.lity-iframe .lity-container,
.lity-youtube .lity-container,
.lity-vimeo .lity-container,
.lity-googlemaps .lity-container {
    max-width: 960px !important;
}

/*===== MOBILE =====*/

@media (max-width:1200px) {

    .section #slider-wrapper {
        width: 100%;
        box-sizing: border-box;
    }

}

@media (min-width:1025px) {

    .square-panel-section .square-panel-section-row > .square-panel-section-col-left {
        position: relative;
        left: -200px;
        opacity: 0;
        transition: all 500ms ease;
    }

    .square-panel-section .square-panel-section-row > .square-panel-section-col-right {
        position: relative;
        right: -200px;
        opacity: 0;
        transition: all 500ms ease;
    }

    .square-panel-section .square-panel-section-row > .square-panel-section-col-left.panel-slide-in {
        left: 0;
        opacity: 1;
        transition: all 1000ms ease;
    }

    .square-panel-section .square-panel-section-row > .square-panel-section-col-right.panel-slide-in {
        right: 0;
        opacity: 1;
        transition: all 1000ms ease;
    }

}

@media (max-width:1024px) {

    .section .wrapper.content{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .slider-controllers span{
        background-color: rgba(red, green, blue, alpha)
    }

    .hide-on-mobile {
        display: none !important;
    }

}

@media (max-width: 1024px) and (hover:none) {
    .parallax-slider{
        display: none;
    }
  
    #hero-section-wrapper .hero-section{
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
    }
  
    #hero-section-wrapper .hero-section{
        background-image: url("img/ug-research/hero-img-min.jpg");
    }
  
    #hero-section-wrapper .hero-section .hero-title-wrapper{
        transform: none;
    }
  
    .hero-section .hero-title-wrapper {
        width: 820px;
        max-width: 100%;
        position: relative;
        top: unset;
        left: unset;
    }
}

@media (max-width: 999px) {

    .hero-section .hero-title-wrapper {
        transform: translateY(-50%);
    }

}

@media (max-width: 975px) {

    .hero-section .hero-title-wrapper h2 {
        font-size: 80px;
        line-height: 70px;
    }

    .section #slider-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    
    .square-panel-section .square-panel-section-row > div .video-title-container h4 {
        font-size: 19px;
    }

}

@media (max-width: 767px) {

    .section .wrapper.content .col-33,
    .section .wrapper.content .col-50,
    .section .wrapper.content .col-60,
    .section .wrapper.content .col-40,
    .section .wrapper.content .col-66 {
        width: 100%;
    }

    .hero-section {
        width: 100%;
        height: 450px;
    }

    .hero-section .hero-title-wrapper {
        padding: 10%;
        left: unset;
    }

    .hero-section .hero-title-wrapper h2 {
        font-size: 3em;
        line-height: 1em;
    }

    .hero-section .hero-title-wrapper p {
        font-size: 1.5em;
        line-height: 1em; 
    }

    .hero-section .hero-title-wrapper hr {
        width: 100%;
    }

    .wrapper.content h1,
    .wrapper.content h2,
    .wrapper.content h3 {
        font-size: 38px;
    }

    #section-2 .wrapper.content .col-60 {
        width: 100%;
        order: 2;
    }
    
    #section-2 .wrapper.content .col-40 {
        width: 100%;
        order: 1;
    }

    .square-panel-section .square-panel-section-row:first-child {
        margin-top: 0;
    }

    .square-panel-section .square-panel-section-row:last-child {
        margin-bottom: 0;
    }

    .square-panel-section .square-panel-section-wrapper {
        overflow-y: auto;
        width: calc(100% + 20px);
        left: -10px;
    }

    .square-panel-section .flexbox .col-50:first-child {
        margin-bottom: 20px;
    }

    #our-programs .square-panel-section-col-center {
        margin-top: 20px;
    }

    .page-slider .flex-container {
        flex-direction: column;
    }

    .section .wrapper.content .page-slider p.statement {
        margin-top: 30px;
    }

    .section .wrapper.content .page-slider p.statement,
    .section .wrapper.content .page-slider p.name,
    .section .wrapper.content .page-slider p.role {
        text-align: center;
    }

    .page-slider .ml-25 {
        margin-left: 0;
    }

}

@media (max-width: 480px) {

    .square-panel-section .square-panel-section-row > div .video-title-container {
        padding: 10px 0;
    }
    
    .square-panel-section .square-panel-section-row > div .video-title-container h4 {
        font-size: 18px;
    }

    .square-panel-section-col-left,
    .square-panel-section-col-right {
        cursor: pointer;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: transparent;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: transparent;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: transparent;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: transparent;
    }

}

/*===== Cobntinue Exploring =====*/


#continue-exploring .fs-button {
    background-color: #7CADCF;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 30px;
    margin: 5px;
    font-family: 'Aptifer Sans LT W01', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

#continue-exploring .fs-button:hover {
    text-decoration: none;
    background: #273D5E;
    transition: all 0.3s ease 0s;
}
#continue-exploring .wrapper.content {
    max-width: 1050px;
    width: 95%;
    margin: 0 auto;
    padding: 30px 0; 
}

#continue-exploring h3 {
    color: #273d5e;
    font-family: 'priori-sans-reg', sans-serif;
    font-size: 38px;
    margin: 0 0 .5em 0;
    position: relative;
}




